asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
Django==5.2.13
django-csp==4.0
django-widget-tweaks==1.5.1
idna==3.13
packaging==26.2
pillow==12.2.0
pyproject_hooks==1.2.0
python-dotenv==1.2.2
requests==2.33.1
setuptools==82.0.1
sqlparse==0.5.5
tokenize_rt==6.2.0
tzdata==2026.2
ua-parser==1.0.2
ua-parser-builtins==202603
urllib3==2.7.0
user-agents==2.2.0