{% extends 'Rango/base.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}


{% block body_block %}
	<div class="jumbotron p-4">
		<div class="container">
			<h1 class="jumbotron-heading">Rango says "This here's the git-yurself-registered page"</h1>
			<div>
				<h2 class="h2">
					Gotta check if you are YOU or a robot!
				</h2>
			</div>
		</div>
	</div>
	{% if status == 'Fail' %}
		<strong> You have FAILED the robot test. You can try again at 'Register Here' selection.</strong> 
	{% else %}
	
		<!-- you get one chance to get it right before being locked out -->
		<div>
			<h2 id="test-results-and-countdown"></h2>
			<label for="test1">What is 5 + 7 = </label>
			{% if debug %}
				<!-- different google recaptcha keys for different servers, local is debug 127.0.0.1 -->
				<input type="text" id="test1_math_local">
			{% else %}
				<input type="text" id="test1_math_remote">
			{% endif %}
			
			
			<!-- screen readers handle this better, it does flash the test, not sure if good/bad... -->
			<label for="test2" id="test2Label">Don't click here if you are a human</label>
  			<input type="radio" id="test2_HP">
  			
  			<br>
  			<!-- on input tags, name is used at server for post results and id is used by css/js -->
  			<form 
  				method="post" 
  				action="{% url 'Rango:check_user_is_robot' %}" 
  				id='chkUserRobot' 
  				accept-charset="utf-8">
  			{% csrf_token %}
  				{{form.as_p}}
  				<input type="hidden" name="g-recaptcha-response" id='recaptcha'>
  				<input type="hidden" name="math_test" id="challenge_tst">
  				<input type="hidden" name="js_honey" id="check_box_tst">
  				<button id = "turnIn3" type="submit">Submit</button>
  			</form>
		</div>
	{% endif %}

	
	<script src="{% static "js/jquery-360min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/ChkUser.js" %}" crossorigin="anonymous"></script>


{% endblock %}

