<!DOCTYPE html>

{% load static %} <!--  another difference from django 2 to 3.1 -->

<html>
<head>
	<title>Rango</title>
	<meta charset="ISO-8859-1">
</head>
<body>
	<h1>Rango says...</h1>
	<div>
		{{ greetingmsg }}<br />
		<strong>{{ boldmessage }}</strong><br />
	</div>
	
	<!--  
	ul is an unordered html list, template cmds go in {percentsign  percentsign} and 
	template variables in doubleCurlyBracket stuff doubleCurlyBracket 
	-->
	
	<div>
		{% if categories %}
			<ul>
			{% for category in categories %}
				<li> 
				<a href="/Rango/category/{{ category.slug }}/">{{ category.name }}</a>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
	</div>

	<div>
		<img src="{{ current_angel_kitty }}" alt = "picture of angel kitty" />

		{{ chooseURL | safe }}
	</div>

</body>
</html>