{% extends 'Rango/base.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}


{% block body_block %}
	<h1>Rango says...</h1>
	<div>
		{{ greetingmsg }}<br />
		<strong>{{ boldmessage }}</strong><br />
		<!--  apparently we get user object "for free" via django-->
		{% if user.is_authenticated %}
			Howdy {{ user.username }}, hows it goin'?
		{% else %}
			Hey there partner!
		{% endif %}
	</div>
	
	{% if not index_page %}
		<!-- only counts visits to about page -->
		<p>Visits: {{ visits }} </p>
	{% endif %}
	
	<!--  
	ul is an unordered html list, template cmds go in {percentsign  percentsign} and 
	template variables in doubleCurlyBracket stuff doubleCurlyBracket 
	-->
	{% if index_page %}
		<h2> Most Liked Categories</h2>
		<div>
			{% if categories %}
				<ul>
				{% for category in categories %}
					<li> 
					<a href = "{% url 'Rango:show_category' category.slug %}">{{ category.name }}</a>
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<strong>There are no categories present.</strong>
			{% endif %}
		</div>
		
		<h2> Most Viewed Pages</h2>
		<div>
			{% if pages %}
				<ul>
				{% for page in pages %}
					<li> 
					<a href="{{ page.url }}/">{{ page.title }}</a>
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<strong>There are NO pages present.</strong>
			{% endif %}	
		</div>
	{% endif %}

	<div>
		<img src="{{ current_angel_kitty }}" alt = "picture of angel kitty" />

	</div>
{% endblock %}



