{% extends 'Rango/base.html' %}
{% load static %} <!--  another difference from django 2 to 3.1 -->

{% block title_block %}
	Profile Registration
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
	<div class="containter">
		<h1 class="jumbotron-heading"> Register Here - Personal Info</h1>
	</div>	
</div>
<div class="container">
	<div class="row">
		<!--need the entype as shown below since people will be uploading images, not just ascii  -->
		<form method="post"
			  action="{% url 'Rango:register_profile' %}"
			  enctype="multipart/form-data">
			  {% csrf_token %}
			  {{ form.as_p }}
			  <strong>You dont have to fill this in, just take defaults, hit "Create Profile" and change later if you want.</strong><br>
			  <input type="submit" value="Create Profile" />
		</form>
	</div>
</div>
{% endblock %}