{% extends 'Rango/base.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}


{% block body_block %}
	<strong>{{ boldmessage }}</strong><br />
	<button class="btn btn-primary"
			onclick="alert('You clicked the button using inline JavaScript.');">
			Click me - I run on vanilla JavaScript!
	</button>
	<button class="btn btn-primary" id="about-btn">
			Click me - I'm using JQuery!
	</button>
	<p>This is some text for a JQuery effect, hover and it changes to 
       red and when you leave, it goes blue</p>
       
    <div id = "msg"> Results of JQuery button:  </div>
    
    <hr class="solid">
       
    <div id="msg"> Hello!, Below we will try slider inputs for my future math app.  This tone generator uses Web Audio which is
    				not supported in latest version of Internet Explorer, should work fine in Chrome, Edge, Safari, Firefox, etc <br>
    <table width="100%">
		<tbody>
			<tr>
				<td align="center">
					<div id="toneChanges" style="display: inline-block; overflow-x: auto; border: 1px solid black;">
						<table border="0">
							<tbody>
								<tr>
									<th colspan='3'>Sine Wave (tone) Parameters</th>
								</tr>	
								<tr>		
									<td align="left">
										Frequency: <span id="currFreq">000</span> Hz
									</td>
									<td align="left">
										Amplitude: <span id="currAmp">000</span>
									</td>
									<td align="left">
										Phase: <span id="currPhase">000</span> degrees
									</td>
								</tr>
								<tr>
									<!-- vertical orientation not supported the same way by all browsers and likely to change, keep horiz  -->
									<td>
										<input id="in-range-freq" type="range" oninput=ToneHandler.ChangeFreq() step="1" value="2000" min="100" max="10000">
									</td>
									<td>
										<input id="in-range-amp" oninput=ToneHandler.ChangeAmp() type="range" step="1" value="10" min="1" max="100">
									</td>
									<td>
										<input id="in-range-phase" oninput=ToneHandler.ChangePhase() type="range" step="1" value="0" min="0" max="360">
									</td>
									
								</tr>
								<tr>
									<input type="button" id="start-stop-button" onclick="ToneHandler.StartStopTone()" value="Start Tone">
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
 	</div>
 	<div style="width:800px;height:500px">
 		<canvas id="sine_plotsLo"></canvas>
 	</div>

 	<div style="width:800px;height:500px">
 		<canvas id="sine_plotsHi"></canvas>
 	</div>

	
 	
    <br>
    <hr class="solid">
    <div id="msg"> There are three tests a potential user must pass to register a username/password:  Honeypot test, 
    	Math test and recaptcha v3.  A human only sees the math test. You only have to pass Honeypot and math test
    	to get in.  Recaptcha needs time to 'learn' the website to give an accurate score.  Recaptcha v3 scores a user
    	from 0 to 1 where 0 is "definitely robot".  Here I divide up the score into 4 quartiles, 0 to 0.25, 0.25 to 0.5,
    	0.5 to 0.75 and 0.75 to 1.  Here are the counts for all users of this site.<br>
    <br>
    
    <table style="width:100%; border: 1px solid black; border-collapse: collapse;">
    <caption style="caption-side:top; text-align=center;">Performance count of users seeking to register with this site</caption>
  		<tr>
    	<th>Recaptcha V3</th>
    	<th>Math test fail</th>
    	<th>Math test fail</th>
    	<th>Math test pass</th>
    	<th>Math test pass</th>
  		</tr>
  		
  		<tr style="border-bottom:1px solid black">
    	<th>Quartiles</th>
    	<th>Honeypot test fail</th>
    	<th>Honeypot test pass</th>
    	<th>Honeypot test fail</th>
    	<th>Honeypot test pass</th>
  		</tr>
  		
  		<tr>
    	<td style="border-right:1px solid black">Bot (1st quartile)</td>
    	<td style="border-right:1px solid black; text-align:center">{{ hpF_mtF.0 }}</td>
    	<td style="border-right:1px solid black; text-align:center">{{ hpP_mtF.0 }}</td>
    	<td style="border-right:1px solid black; text-align:center">{{ hpF_mtP.0 }}</td>
    	<td style="text-align:center">{{ hpP_mtP.0 }}</td>
  		</tr>
  		<tr>
    	<td style="border-right:1px solid black">Maybe Bot (2nd quartile)</td>
    	<td style="border-right:1px solid black; text-align:center">{{ hpF_mtF.1 }}</td>
    	<td style="border-right:1px solid black; text-align:center">{{ hpP_mtF.1 }}</td>
    	<td style="border-right:1px solid black; text-align:center">{{ hpF_mtP.1 }}</td>
    	<td style="text-align:center">{{ hpP_mtP.1 }}</td>
  		</tr>
  		<tr>
    	<td style="border-right:1px solid black">Maybe Human (3rd quartile)</td>
    	<td style="border-right:1px solid black; text-align:center">{{ hpF_mtF.2 }}</td>
    	<td style="border-right:1px solid black; text-align:center">{{ hpP_mtF.2 }}</td>
    	<td style="border-right:1px solid black; text-align:center">{{ hpF_mtP.2 }}</td>
    	<td style="text-align:center">{{ hpP_mtP.2 }}</td>
  		</tr>
  		<tr>
    	<td style="border-right:1px solid black">Human (4th quartile)</td>
    	<td style="border-right:1px solid black; text-align:center">{{ hpF_mtF.3 }}</td>
    	<td style="border-right:1px solid black; text-align:center">{{ hpP_mtF.3 }}</td>
    	<td style="border-right:1px solid black; text-align:center">{{ hpF_mtP.3 }}</td>
    	<td style="text-align:center">{{ hpP_mtP.3 }}</td>
  		</tr>
	</table>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.73/Tone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="{% static "js/TrigAudio.js" %}" crossorigin="anonymous"></script>
{% endblock %}

