{% extends 'Rango/base.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}


{% block body_block %}
	<strong>{{ boldmessage }}</strong><br />
	<button class="btn btn-primary"
			onclick="alert('You clicked the button using inline JavaScript.');">
			Click me - I run on vanilla JavaScript!
	</button>
	<button class="btn btn-primary" id="about-btn">
			Click me - I'm using JQuery!
	</button>
	<p>This is some text for a JQuery effect, hover and it changes to 
       red and when you leave, it goes blue</p>
    <div id="msg">Hello!, This is modifying html with JQuery...</div>
{% endblock %}

