{% extends 'int_math/basePage.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %} 
	{{ page_tab_header }}
{% endblock %}
  
{%block head_block %}
    <link href="{%static 'css/Acknowledgements.css' %}" rel="stylesheet">
{% endblock %}
  
{% block body_block %}
<div id="AcknowledgementsBlock">
	<h1>THANK YOU to all who have helped with this site!</h1>
	<section class="contributor_contact">
		<a href="https://mathdoctorbrevard.wordpress.com/"><img src="{{ thankyou1 }}"/></a>
		<a href="https://mathdoctorbrevard.wordpress.com/"><h2> Cheryl L. Avila, PhD</h2></a>
		<a href="https://mathdoctorbrevard.wordpress.com/"><h3>Professional personal tutoring</h3></a>
	</section>
	<!--  empty acknowledgements for now... no image no names -->
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
	<!--  Next Row -->
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
	<!--  Next Row -->
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
	<!--  Next Row -->
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
	<!--  Next Row -->
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
	<section class="contributor_contact">
		<h2></h2>
		<h3></h3>
	</section>
</div>	
	<br>
	<br>
{% endblock %}	
	   					
{% block unique_js_block %}
	<!-- Custom JS for this page -->
	<script>
			// Dont need advanced topic link popup
			$('a[href="#AdvancedTopics"]').css('display', 'none');
	</script>
{% endblock %}			   
	
	