{% extends 'int_math/base.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %} 
	{{ page_tab_header }}
{% endblock %}
  
{%block head_block %}
    <link href="{%static 'css/Acknowledgements.css' %}" rel="stylesheet">
{% endblock %}
  
{% block body_block %}
	<h1>THANK YOU to all who have helped with this site!</h1>
	<section class="contributor_contact">
		<a href="https://mathdoctorbrevard.wordpress.com/"><img src="{%static 'ThankYouLogos/math-doctor-no-small-lettering.png' %}"/></a>
		<a href="https://mathdoctorbrevard.wordpress.com/"><h2> Cheryl L. Avila, PhD</h2></a>
		<a href="https://mathdoctorbrevard.wordpress.com/"><h3>Professional personal tutoring</h3></a>
	</section>
	

	<br>
	<br>	
	<!-- Bootstrap core JavaScript,jquery must be before bootstrap -->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
			var localJQ = "{% static 'js/jquery-360min.js' %}";
			window.jQuery || document.write('<script src="${localJQ}"><\/script>')
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
				   
	<!-- Custom JS for this page -->
	<script src="{% static 'js/IntMath.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/IntMathUtils.js' %}" crossorigin="anonymous"></script>	

	
{% endblock %}