{% extends 'int_math/basePage.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %} 
	{{ page_tab_header }}
{% endblock %}
  
{%block head_block %}
    <link href="{{ AckCSS }}" rel="stylesheet">
{% endblock %}
  
{% block body_block %}
<div id="AcknowledgementsBlock">
	<h1>THANK YOU to all who have helped with this site!</h1>
	<p id="VillageThanks">This website is the product of a village, so many have contributed/commented/helped.  Here are just a few of the villagers...</p>
	{{ Contributors | safe}}
	
</div>	
	<br>
	<br>
{% endblock %}	
	   					
{% block unique_js_block %}
	<!-- Custom JS for this page -->
	<script nonce="{{ request.csp_nonce }}">
			// Dont need advanced topic link popup
			$('a[href="#AdvancedTopics"]').css('display', 'none');
			// no buttons needed
			$("#GoToNextPage").css('display', 'none');
    		$("#GoToPreviousPage").css('display', 'none');
	</script>
{% endblock %}			   
	
	