{% extends 'int_math/base.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}
    
{% block body_block %}
	
	Under Construction, Will be a form to contact me.  Ask for email only if they want a response from me.  No guarantee of response.
	If they opt out of cookies, I can't check if they are a robot, can't contact me (see google recaptcha on cookies for V3),  
	allow them to reconsider.  remember, default is that cookies not allowed so they can't use this page until they enable cookies (need robot test)
	If you give me an email address, you certify that you are over 13 yrs old.  I reserve the right to save all messages/email addresses sent to me.
	Have contactme choose a category:  client side bug in SW, content error, comment on TOS, comment on PP/cookie, other

	<!-- consider using <select> <option> dropdown form for "topic" error, suggestion etc -->
	<br>
	<br>	
	<!-- Bootstrap core JavaScript,jquery must be before bootstrap -->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script>
			var localJQ = "{% static 'js/jquery-360min.js' %}";
			window.jQuery || document.write('<script src="${localJQ}"><\/script>')
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
				   
	<!-- Custom JS for this page -->
	<script src="{% static 'js/IntMath.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/IntMathUtils.js' %}" crossorigin="anonymous"></script>	

{% endblock %}