{% extends 'int_math/base.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}

{%block head_block %}
    <link href="{%static 'css/Contact_me.css' %}" rel="stylesheet">
{% endblock %}
    
{% block body_block %}
 	<!--  for robot checking, need to tell client whether server is local or remote so correct recaptcha site key is sent, will be hidden -->
 	<div id="sendServerLoc">{{ debug }}</div>
	<h1>Contact Interactable Math Inc.</h1><br>
	<!-- dont save results of robot test so whole site is no cookie -->
	<div id="centered-form">
        <form id="ContactUsForm" action = "{% url 'int_math:ProcessContact_me' %}" method="POST">
            {% csrf_token %}
			{{form.as_p}}

            <p> There is no guarantee of a personal or timely response.  Interactable Math Inc reserves the right to save all information you provide.
            Contact submissions are protected by Google reCaptcha V3.  By contacting us, you acknowledge you are over 13 years old and agree to the <a href="{% url 'int_math:TermsOfUse' %}">Terms Of Use </a> 
		    and <a href="{% url 'int_math:Privacy' %}">Privacy Policy</a> as well as Google terms/privacy.
            </p>
          	<br>
          	{% if botTestDone %}
          		{% if botTestPassed %}
          			<p id="notABot"> Thank you for taking the time to contact us. Your message was successfully trasnmitted. </p>
          		{% else %}
          			<p id="urABot"> Sorry, you did not pass the robot test.  Your message was not transmitted.  You can try again on another computer. </p>
          		{% endif %}
          	{% else %}
            	<input type="submit" value="Submit">
            {% endif %}
        </form>
    </div>
    
	<!-- consider using <select> <option> dropdown form for "topic" error, suggestion etc -->
	<br>
	<br>	
	<!-- Bootstrap core JavaScript,jquery must be before bootstrap -->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script>
			var localJQ = "{% static 'js/jquery-360min.js' %}";
			window.jQuery || document.write('<script src="${localJQ}"><\/script>')
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
				   
	<!-- Custom JS for this page -->
	<script src="{% static 'js/IntMath.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/IntMathUtils.js' %}" crossorigin="anonymous"></script>
	<script src="{% static 'js/Contact_me.js' %}" crossorigin="anonymous"></script>	

{% endblock %}