{% extends 'int_math/basePage.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}

{%block head_block %}
    <link href="{%static 'css/Contact_me.css' %}" rel="stylesheet">
{% endblock %}
    
{% block body_block %}
 	<!--  for robot checking, need to send public key, will be hidden -->
 	<div id="sendGRPublic" style="display:none;">{{ recaptchaPublicKey }}</div>
	<h1>Contact Interactable Math Inc.</h1><br>
	<!-- dont save results of robot test so whole site is no cookie -->
	<div id="centered-form">
        <form id="ContactUsForm" action = "{% url 'int_math:ProcessContact_me' %}" method="POST">
            {% csrf_token %}
			{{form.as_p}}
				
            <p id="ContactCompliance"> There is no guarantee of a personal or timely response.  Interactable Math Inc reserves the right to save all information you provide.
            Contact submissions are protected by Google reCaptcha V3.  By contacting us, you acknowledge you are over 13 years old and agree to the <a href="{% url 'int_math:TermsOfUse' %}">Terms Of Use </a> 
		    and <a href="{% url 'int_math:Privacy' %}">Privacy Policy</a> as well as Google terms/privacy. <b>Click box to accept and continue</b>.
            </p>
          	<br>
          	
		    {% if botTestDone %}
		  		{% if botTestPassed %}
		  			<p id="notABot"> Thank you for taking the time to contact us. Your message was successfully transmitted. </p>
		  		{% else %}
		  			<p id="urABot"> Sorry, your message was not transmitted.  Perhaps you had "new line" character in your input.  You can go to home page and come back and try again. </p>
		  		{% endif %}
		  	{% else %}
		    	<input type="submit" value="Submit">
		    {% endif %}
    
        </form>
    </div>

	<!-- consider using <select> <option> dropdown form for "topic" error, suggestion etc -->
	<br>
	<br>
{% endblock %}	

{% block unique_js_block %}
	<!-- Custom JS for this page -->
	<script>
			// Dont need advanced topic link popup
			$('a[href="#AdvancedTopics"]').css('display', 'none');
	</script>
	<script src="{% static 'js/Contact_me.js' %}" crossorigin="anonymous"></script>	
{% endblock %}			   
