{% extends 'int_math/baseTrig.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}

{%block head_block %}
    <link href="{%static 'css/DynamicTrig1.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}

	<div id ="headerAndCtl_DT1">
		<h1 id="HeaderTrig_DT1">Sine meets time and we get frequency</h1>
	</div>
	
	<div id="CircleValues_DT1">	
		<input type="button" id="ClearOldFreq_DT1" value="Clear" data-toggle="tooltip" data-placement="top" title="Stop clock.  Clear plots">
		<label id = "time_DT1">Time (sec)</label>
		<p id="timeVal_DT1"> </p>
		<label id="thetaLabel_DT1">&#920</label>
		<p id="theta_DT1"> 0 </p>
		<label id = "LastFrequenciesLabel_DT1">f (frequency in Hz)</label>
		<p id="LastFrequencies_DT1"> </p>
		<p id="UserNotices_DT1" ></p>	
		<input type="button" id="StartOver_DT1" value="Start Over" data-toggle="tooltip" data-placement="top" title="Back to beginning on user help">
	</div>
	
	<!-- https://stackoverflow.com/questions/21179779/canvas-arc75-75-50-0-3-1415-true-draws-oval-instead-of-circle -->
	<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/canvas:  you must set bitmap for canvas in html, css only -->
	<!-- sets element size, resulting in distortion -->
	<div id="UnitCircleAndGraphCanvas">
		<!--  AmpSinCosCircle sits to the left -->
		<canvas id="AmpSinCosCircle_DT1" width=450 height=550">
			Your Browser does not support canvas tag, you are missing graph capability
		</canvas>
		<!--  to add border to canvas, add this at end style="border:1px solid #000000;" -->
		<p id="sinEqtnLabelHI_DT1">S=sin(2&#8901&#960&#8901f&#8901t)</p>  
		<p id="sinEqtnLabelLO_DT1">S=sin(2&#8901&#960&#8901f&#8901t)</p> 
		<!--  FreqChange sits to the right of the above canvas, AmpSinCosCircle_DT1 -->
		<canvas id="FreqChange_DT1" width=500 height=650 >
			Your Browser does not support canvas tag, you are missing graph capability
		</canvas>
		<!-- This funTutorial canvas is intended to lay over all other canvases to give a tutorial of how it works -->
		<!-- width is addition of two canvases above and height = shorter of the two so this sits on top of both of them -->
		<!-- We want to point to objects on unit circle canvas so this canvas must sit exactly on  AmpSinCosCircle_DT1-->
		<!--  debug use style="border:1px solid #FF0000; to see the canvas in red -->
		<canvas id="funTutorial_DT1" width=950 height=550 ">
			Your Browser does not support canvas tag, you are missing graph capability
		</canvas>							
		
	</div>
	
	<div id="FirstHelp_DT1">
	<!--  will dynamically add elements here -->
		<p></p>
	</div>
	
	<!-- Tell user there is a timer counting their phase accumulation, they need to keep up -->
	<div class="modal fade" id="expiremodal" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<h1>Time Expired!</h1>
					<p>The purpose of this page is to accumulate 360&#176 phase within 30 seconds of time.  The faster you do it, the higher the frequency of the sine wave. 
					 Frequency = 1/T where T is how long it takes you to make a complete 360&#176 turn around the circle. 
					 <br><b>We are going to start over. Follow the pop up box and go as fast as you can</b></p>
				</div>
				<div class="modal-footer">
					<!--  when clicked, this will dismiss the modal -->
					<button class="btn btn-success" data-dismiss="modal" type="button">Got it!</button><br class="visible-xs">	
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<!-- Leave this text at the bottom to be consumed by JS and put in proper place.  
	At the bottom it doesn't consume space from other elements but it does give search engines a clue what page is all about. -->
    <p class="AdvTopic_ToDo">TRY THIS: <br>1.  Start clicking yellow dots starting at zero phase going all the way around the circle counterclockwise every 30 degrees, following the red arrow prompts.  
    You are accumulating phase as you go around.  Do this as quickly as you can (within 20 sec) and look at the period T to go all the way around.  The period is 1/freqency.  
    The faster you go, the more "squished" up the curves will get <br>2.  Try it again starting at zero and moving counter clockwise but this time skip every other dot collecting 60 degrees per click, following the red arrow prompts, and ending at the 0 degrees dot.  
    <br>3.  Repeat but now collect 45 degrees per click, following the red arrows.   <br>4.  You can redo this collecting 120 degrees per click and it will only take you three clicks to finish the circle.
    <br>5.  NOW, you get the point, click 0 degrees to start the timer then click one point anywhere on the circle and click 360 degrees (same as 0 degrees) to finish the collection
    <br>Hint:  you never really had to follow the red arrows, they were always just suggestions.  All you every really HAD to do was hit 0 degrees to start timer, hit points counter clockwise to accumulate
    phase then hit 360 degrees to stop it.  The reason I encouraged you to follow the red arrows was so that you can see that the faster you get around the circle, the higher the frequency will be.  
    However, most people cant get above 1 Hz clicking points.  On the next pages, we will go faster because I will click the points for you and you tell me how fast you want to go.  Your speed will then be limited by your browser and screen update rates. 
    <br>Wanna understand this?  hit the Explanation tab in this window.  
	</p>
	<p class="AdvTopic_Expln">EXPLANATION: 
	<br><u>What were we doing?</u><br>As you move counter-clockwise around the unit circle, you are adding phase until you get back to the starting place and we calculate your average phase accumulation over time (also known as frequency).  
	The period of your sine wave is the time it took you to complete a full cycle of the sine wave (0 to 360 degrees).  The frequency (in Hz) is 1 divided by the period (in seconds).  All the waveforms are in shades of blue, the newest is dark blue
	and waveforms get paler blue as they get "older".  Eventually they drop off.  The upper scale lets you see more time and is good for low frequency plots and the lower scale looks at a 
	shorter time and is good as the frequency goes up.
	
	<br><u>Why the heck are we showing frequency by going around the unit circle?</u>
	Well, it ties in with how you learn sine and cosine with the unit circle.  Plus, if you study signal processing in college, you will find they talk about 
	e<sup>i(2&#960f)t</sup>= cos(2&#960ft) + isin(2&#960ft) where i is your friendly neighborhood imaginary value i = &#8730-1. The 2&#960ft = &#920 that we talked about originally on the Simple Sine Cosine page.
	OOOH, wait a minute!  I've seen this before, yes it was hidden in plain site on the Simple Sine Cosine page!!! You just have to think of the real axis as x and the imaginary axis as y.  
	You'll see some of this in action on the pages for imaginary numbers where we show
	that this equation is how digital radios work.  Huh?  I don't have a digital radio.  Yes you do, its your cell phone.
	Don't worry, these are advanced junior level college classes but now you see why I introduced it this way.
	
	<br><u>It seems like we are cheating, clicking fewer dots as we go around?</u><br>
	The sine waves we have plotted have a HUGE number of points.  We really don't need all those points to know its a sine wave of a certain frequency.  
	In our digital world, we never save any more information than we absolutely have to (else your music files and videos would never fit on your phone).  
	Back to signal processing, Nyquist theorem says as long as we sample a signal at at least twice the highest frequency, we can fully reproduce it.  Our sine waves were only one frequency and each click was a sample
	(except for the first click at zero phase, that was just to turn on the timer).  Your really only had to click twice around the circle to preserve the information. <br>This is basically how MP3 works.  Human hearing 
	goes up to about 20,000 Hz.  CD quality MP3 recordings sample at 44,100 Hz, just over twice our max hearing range.  Now you know why.
	So when I originally suggested you click every point on the curve, 12 points per cycle, you were over-sampling.  Nothing wrong with that, just wasting memory with unnecessary points.  
	It was to prove a point that the slower you go around the circle, the lower your frequency.  
	
	<br><u>Well I can't go faster than 1Hz on this page, when will I create a frequency I can hear?</u><br>
	When we create frequency by humans clicking points, we will naturally be slow.  On the next page Sine goes Faster, you will be selecting the frequency and your browser will be clicking the points.
	We start out with a slow sampling rate and have to move toward the maximum Nyquist rate of two samples per frequency because most browsers have a tough time keeping up.  
	The 10Hz maximum  is sampling around the circle faster than our eyes can see but you can see from the plots that if we tried to do less than two samples per period, we wouldn't be able 
	to recreate the sine wave.  Human hearing starts around 20Hz but most common computer speakers start producing sound at around 100 Hz.  We'll get to these much higher frequencies on the page
	Sine/cosine Tones and Musical Notes because we won't be asking your fingers or the web browser to update super fast.
	
	</p>

	
	<!-- Bootstrap core JavaScript,jquery must be before bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		<!-- if you can't load from google, load locally -->
		window.jQuery || document.write('<script src="{% static 'js/jquery-360min.js' %}"><\/script>')
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
			
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<!-- The feather.replace() causes all data-feather to be replaced with proper svg icon -->
	<script>feather.replace()</script>
	
	<!-- Custom JS for this page -->
	<script src="{% static 'js/IntMath.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/IntMathUtils.js' %}" crossorigin="anonymous"></script>	    
	<script src="{% static 'js/autoDemo.js' %}" crossorigin="anonymous"></script>	 
	<script src="{% static 'js/DynamicTrig1.js' %}" crossorigin="anonymous"></script>	
	<br><br>
	
{% endblock %}