<!--
 * ============================================================================
 * COMPONENT: Django HTML 
 * FILE:      index.html
 * ============================================================================
 * 
 * DESCRIPTION:
 * Landing page explains what is here and how to use it.
 * Built to run framework-free using light shims.
 * 
 * DEPENDENCIES:
 * - Styles:   see section head_block also section head in file basePage.html
 * - Scripts:  see section unique_js_block or head_block also section head in file basePage.html
 * - Backend:  Django HTML, Static files served over cloud service such as Cloudflare
 * 
 * ARCHITECTURE NOTES:
 * - Automated demos (autodemo) consist of mp3 of teens explaining math and timed JS
 * 	that executes the spoken actions as a demonstration on using the page.
 * This HTML page depends on basePage.html. 
 * There is no jquery or bootstrap dependency, we do use a "sugar" file that has 
 *    the parts of those libraries we need but uses native HTML/JS:  jqBS-shorthand.js
 * 
 * FIRST PRODUCTION VERSION: 2026-06-07
 * AUTHOR:     C. DeMeyer (with Gemini AI assist)
 * ============================================================================
 -->
{% extends 'int_math/basePage.html' %}

{% load static %} 

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}

{%block head_block %}
    <link href="{{ LandPageCSS }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

<!-- front and center text -->
{% block mainHeaderText %}
	<h1><span id="homePageHeader">{{ basePage.CompanyName }}</span></h1> 
	<h2>High School Algebra 2, PreCalculus and Physics</h2>
{% endblock %}

 <!-- to side of autodemo -->					
{% block supportMaterial %}
	<div id="selectNewbieOrExpert">
		<form>
			<fieldset>
			  	<legend>
    				<div class="legend-flex-container">
	        			<div>I am</div>
	        			<div class="line"></div>
    				</div>
				</legend>		  	
				<div class="form-row">
				    <label for="newbieMode">New to this site</label>
				    <input type="radio" name="helpLevel" id="newbieMode" value="newbieMode">
				</div>
				<div class="form-row">
				    <label for="expertMode">Familiar with this site</label>
				    <input type="radio" name="helpLevel" id="expertMode" value="expertMode">
				</div>
		  	</fieldset>
		</form>
	</div>
{% endblock %}
  				
{% block body_block %}
	<div id="LandingMainBody">

	  	<img id="logo-home-page" src="{{ landingPageLogo }}" alt="Landing Page Logo">
		<div class="home_expln">

			{% if is_mobile %}
				<br>
				<span id="upgradeSchedule">
				{%if upgradeNoticePresent %}
					Site will be upgraded at {{ upgradeTime|time:"g:i A" }} EST until midnight on {{ upgradeDate|date:"l, F jS" }}.
				{% endif %}
				</span>
				<span id="upgradingSiteNow">
				{%if upgradeNow %}
				<br>
					This site is currently being upgraded until midnight tonight.  Some things may not work correctly during this time.
				{% endif %}
				</span>
				<b> This math website interactively relates high school math and the real world.  Currently we are looking at trig functions in music.  
				This site was designed for a larger screen.  On your mobile, you'll need to rotate to landscape mode
				and adjust the screen frequently to see everything going on. </b>
				<br>
			{% else %}
				<!-- We can work with this platform -->
				<noscript>
					<!-- however, we must have javascript enabled, only client knows if this is true -->
					<br>
						Since this site is interactive, Javascript <span style="font-size: 1.5em;">MUST</span> be enabled to fully experience the site.
						You do not have Javascript enabled in your browser. 
					<br>
				</noscript>
				<p>
					{%if upgradeNoticePresent %}
					<span id="upgradeSchedule">
						<br>
						    This site will be upgraded at {{ upgradeTime|time:"g:i A" }} EST until midnight on {{ upgradeDate|date:"l, F jS" }}.					
							If you have any questions, comments or bug reports, please use the contact page to let me know.		
					</span>
					{% endif %}
					{%if upgradeNow %}
					<span id="upgradingSiteNow">
						<br>
							This site is currently being upgraded until midnight tonight.  During this time, certain items may not be available, 
							pages may be distorted or not operate correctly.  This will all be resolved by tomorrow.		
					</span>
					{% endif %}
						<br>
						This math website is designed to connect the theories and equations in Algebra 2 and PreCalculus to the real world in a way that is <span id="blinkingColor">fun </span>and interactive.  
						You will see how trig functions play into music and (eventually) imaginary numbers help your cell phone send your text messages. 
						<br>
						It looks best on a laptop/desktop/tablet/notebook. Your mobile is ok but its too small to see all the animations at once.  
						<br>
						This site will ALWAYS be FREE to learners, never a charge of any kind for ANY of the material.<br>
						<br> Math is <b>literally</b> everywhere! <br>
						Enjoy!
				</p>
			{% endif %}		
		</div>
	</div> 
	<br>
	<br>	
	
	<!-- Leave this text at the bottom to be consumed by JS and put in proper place. -->
    <p class="AdvTopic_ToDo">TRY THIS: On complicated pages, a list of stuff to try out will be here.</p>
	<p class="AdvTopic_Expln">EXPLANATION: On complicated pages, a detailed explanation of advanced concepts will be here</p>
{% endblock %}	

{% block unique_js_block %}	
	<!-- Icon Utility Library (Feather Icons) -->
	<script 
	  nonce="{{ CSP_NONCE }}" 
	  src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.2/feather.min.js" 
	  integrity="sha512-zMm7+ZQ8AZr1r3W8Z8lDATkH05QG5Gm2xc6MlsCdBz9l6oE8Y7IXByMgSm/rdRQrhuHt99HAYfMljBOEZ68q5A==" 
	  crossorigin="anonymous" 
	  referrerpolicy="no-referrer">
	</script>
	<!-- The feather.replace() causes all data-feather to be replaced with proper svg icon -->
	<script nonce="{{ CSP_NONCE }}">
		feather.replace();
	</script>

	<!-- Framework-Free Asset Scripts for this Page -->
	<script src="{{ basePage.AutoDemoJS }}" crossorigin="anonymous"></script>	
	<script src="{{ LandPageJS }}" crossorigin="anonymous"></script>
	<script nonce="{{ CSP_NONCE }}">
	    // Clean up UI elements not needed for this page
	    $$('a[href="#AdvancedTopics"], #GoToNextPage, #GoToPreviousPage').hide();
	</script>
{% endblock %}


