{% extends 'int_math/baseTrig.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}

{%block head_block %}
    <link href="{%static 'css/LandingPage.css' %}" rel="stylesheet">
{% endblock %}

{% block legal_notices %}
	<div id="LegalNotice_Consent">
		<p>By continuing to use this site, you agree with the <a href="{% url 'int_math:TermsOfUse' %}">Terms Of Use</a> 
		and <a href="{% url 'int_math:Privacy' %}">Privacy</a>/<a href="{% url 'int_math:Cookie' %}">Cookie</a> policy.
		For questions/comments, please see <a href="{% url 'int_math:Contact_me' %}">Contact</a> page.
		Cookies are used to enhance your experience on this site.  Allow cookies? (default is no)<br></p>
		<div id="CookieChoice">
			<br><button type="button" id='yesCookies'>Yes</button><button type="button" id='noCookies'>No</button>
		</div>
	</div>
{% endblock %}

{% block body_block %}
	<div id="LandingMainBody">
		<div class="jumbotron p-4 ">
			<div class="container">
				<h1 class="jumbotron-heading">I<span id=homePageHeader>nteractable</span> M<span id=homePageHeader>ath</span>: </h1> <h2>High School PreCalculus and Physics</h2>
			</div>
		</div>
				
		<div id="selectNewbieOrExpert">
		<form>
			<fieldset>
			  	<legend><div>I am</div><div class="line"></div></legend>
					<label for="newbieMode">New to this site</label>
				    <input type="radio" name="helpLevel" id="newbieMode" value="newbieMode">
				    <label for="expertMode">Familiar with this site</label>
				    <input type="radio" name="helpLevel" id="expertMode" value="expertMode">
		  	</fieldset>
		</form>
		</div>
		
	  	<img id="logo-home-page" src="{% static 'images/IM_logo3.svg' %}" alt = "Interactable Math Logo">
		<div class="home_expln">
			{% if is_mobile %}
				<br>
				<b> You are using a mobile device.  This site was designed for the larger canvas of a desktop or laptop (or perhaps notebook).  
				Eventually it may become mobile friendly but today is not that day.  Please use on a desktop/laptop.  </b>
				<br>
			{% else %}
				<!-- We can work with this platform -->
				<noscript>
					<!-- however, we must have javascript enabled, only client knows if this is true -->
					<br>
						Since this site is interactive, Javascript <font size="+2">MUST </font>be enabled to fully experience the site.
						You do not have Javascript enabled in your browser. 
					<br>
				</noscript>
				<p>
					This website is designed to connect the theories and equations in Algebra 2 and PreCalculus to the real world in a way that is <span id="blinkingColor">fun </span>and interactive.  
					You will see how trig functions play into music and imaginary numbers help your cell phone send your text messages (and voice too). 
				<br><br>
					Only one person is writing code for this site so progress is
					slow.  As of now, it is tested only on Chrome web browser and generally works under Firefox/Edge and is flaky under Safari and no way on IE.  
					It looks best on a laptop/desktop/notebook.  
					This site needs more screen real-estate than a phone can give.  Its just NOT going to work well on your phone.  Maybe someday...<br>Enjoy!
				</p>
				{% if using_safari %}
				<br>
					<b> You are using Safari, this site needs alot more work/testing to be Safari ready.  Please use latest version of Chrome.  </b>
				<br>
				{% endif %}
			{% endif %}		
	
		</div>
	</div> 
	<br>
	<br>	
	
	<!-- Leave this text at the bottom to be consumed by JS and put in proper place.  
	At the bottom it doesn't consume space from other elements but it does give search engines a clue what page is all about. -->
    <p class="AdvTopic_ToDo">TRY THIS: On complicated pages, a list of stuff to try out will be here.
	</p>
	<p class="AdvTopic_Expln">EXPLANATION: On complicated pages, a detailed explanation of advanced concepts will be here
	</p>
	
	<!-- Bootstrap core JavaScript,jquery must be before bootstrap -->
    <!-- Placed at the end of the document so the pages load faster -->
	<!--  needed to run the drop down menus in bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
			<!-- in case can't get from google, load from local -->
			var localJQ = "{% static 'js/jquery-360min.js' %}";
			window.jQuery || document.write('<script src="${localJQ}"><\/script>')
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<!-- The feather.replace() causes all data-feather to be replaced with proper svg icon -->
	<script>feather.replace()</script>
	
	<!-- custom JS for this page -->
	<script src="{% static 'js/IntMath.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/IntMathUtils.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/autoDemo.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/LandingPage.js' %}" crossorigin="anonymous"></script>
	<script>
		//need to not have every css load on every page, when that is fixed, can get rid of this
		$('a[href="#AdvancedTopics"]').css('visibility', 'hidden');
	</script>

{% endblock %}



