{% extends 'int_math/base.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}
    
{% block body_block %}
	
	<div class="jumbotron p-4">
		<div class="container">
			<h1 class="jumbotron-heading">I<span id=homePageHeader>nteractable</span> M<span id=homePageHeader>ath</span>: </h1> <h2>High School Algebra and Geometry</h2>
		</div>
	</div>
		
	<img id="logo-home-page" src="{% static 'images/IM_logo3.svg' %}" alt = "Interactable Math Logo">
	
	
	<div class="home_expln">
		<p>This website is designed to tie the "boring" stuff that high school students "have" to learn in Algebra 1 and 2 and Geometry to the real world in a way that is <span id="blinkingColor">fun </span>and interactive.  
		We tie trig functions to music, imaginary numbers to cell phones, geometry to drones.  Look through the tabs, you'll see it in action.
		<br>
		<noscript>
		<br>
		Since this site is interactive, Javascript <font size="+2">MUST </font>be enabled to fully experience the site.
		You do not have Javascript enabled in your browser. 
		<br>
		</noscript>
		{% if using_safari %}
			<br>
			<b> You are using Safari, this site needs alot more work/testing to be Safari ready.  Please use latest version of Chrome.  </b>
			<br>
		{% endif %}
		{% if is_mobile %}
			<br>
			<b> You are using a mobile device.  This site works best with the larger canvas of a desktop or laptop (or perhaps notebook).  
			Eventually it may become mobile friendly but today is not your day.  Please use on a desktop/laptop.  </b>
			<br>
		{% endif %}		
		<br>
		Only one person is writing code for this site so progress is
		slow.  As of now, it is tested only on Chrome web browser and generally works under Firefox/Edge and is flaky under Safari and no way on IE.  It looks best on a laptop/desktop/notebook, untested on mobile devices.  Enjoy!
		</p>
	</div>
	<br>
	<br>	

{% endblock %}



