{% extends 'int_math/basePage.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}

{%block head_block %}
    <link href="{%static 'css/IntroTrigMusicConcepts.css' %}" rel="stylesheet">
{% endblock %}

{% block artist_credit %}
	<p> All Professor bird images and mp4 explanatory audio by A.G. (2023) </p>
{% endblock %}

{% block body_block %}
	<div id="TrigMusicVideoIntro">
		<h1>Intro to Trig and Music Concepts</h1>
		
		<!-- --------------------------------Triggy's intro to site and reveiew topica-------------------------------- -->
		<img id="Initial_MCexplaining" src="{{ cartoonIntroGIF }}" alt = "Character introducing terms and concepts" >
		<audio controls id="trigIntro-controls"> 
			<source src="{{ trigReviewIntroAudio }}"> 
				Your browser does not support html5 audio, please upgrade your browser (Chrome preferably) to latest version
			</audio>
		<div id="TriggyIntroText" ">
			<!-- text comes from MusicIntroToTerms.docx which the synthetic voice speaks to user.  Best to put text here for SEO -->
			Hi, my name is Professor Triggy.  We are going to show how trig functions, namely sine and cosine, are used in music. 
			We’ll start with me playing a tune you know with simple sine functions then you can do this yourself and try new tunes. 
			Next, we will look at how these sine and cosine functions come out of your geometry and trigonometry class, then they 
			start moving faster and faster until they get fast enough to be heard by your ears and become a pitch frequency.  
			Finally, we will compare those trig functions to the recordings of real musicians playing various instruments.   
			<br>
			But first we have to review some basic terms.  When this audio is done, I will bring up several review topics 
			or you can hit the Review button in the lower left below to get there faster.  Each of the topics will bring up 
			a short video explanation and there will be stuff for you to do during the video.  I will start you on the first 
			topic of frequency and period but you can choose as you like. Go through or skip topics as you please.  
			When you are done or if you already know these concepts, click the next page button on the lower right corner 
			of this page or click on page 2 over on the far left list of pages.  Have fun!
					
		</div>
		<button type="button" class="btn btn-outline-info" id="ReviewConcepts">Review Concepts</button>
		
		<!-- ---------------------------This is the review stuff that happens after Triggy's intro-------------------------------- -->
		<video height='480' width='640' id = "IntroConceptVideo" controls poster="{{ cartoonIntroTrig }}">
			<source src="{{ introToFreqVideo }}" type="video/mp4">
			Your browser does not support the Video tag of html5, time for a browser upgrade!		
		</video>
		<div id=IntroMusicInteractive>
			<section class="IntroMusicFreqControl">
				<p><strong>Measure Repetition</strong></p>
				<button type="button" class="btn btn-primary" id="UserMeasuresFrequency" data-toggle="tooltip" data-placement="left" title="Click to count periodic events">Click Me</button>
				<p id="informUserFreqQuality" ></p>
			</section>
			<section class="IntroMusicFreqControl">
				<p><strong>Time Elapsed</strong> (sec)</p>
				<div  class = "IntroMusicResult" id="IntroFreqTime">00.0</div>
			</section>
			<section class="IntroMusicFreqControl">
				<p><strong>Time into Period</strong> (sec)</p>
				<div  class = "IntroMusicResult" id="IntroFreqTimeReset">00.0</div>
			</section>
			<section class="IntroMusicFreqControl">
				<p><strong>Period</strong> (sec) <br>average</p>
				<div class = "IntroMusicResult" id="IntroFreqPeriod">00.0</div>
			</section>
			<section class="IntroMusicFreqControl">
				<p><strong>Frequency</strong> = 1/Period (Hz) <br>average</p>
				<div class = "IntroMusicResult" id="IntroFreqHz">00.0</div>
			</section>
			<section class="IntroMusicFreqControl">
				<p><strong>Frequency</strong> = (1/Period)* (60 sec/1 min) <br>average<br>(beat per minute, bpm)</p>
				<div class = "IntroMusicResult" id="IntroFreqBPM">00.0</div>
			</section>		
		</div>
		
		<div id=UserSelectionVideo>
			<h2>
				<u>Click on a topic below to select video...</u>
			</h2>
			<ul id="VideoList">
				<li id="FreqPerIntro" data-toggle="tooltip" data-placement="left" title="Click to select">Frequency and Period<br>
				<li id="SineCosIntro" data-toggle="tooltip" data-placement="left" title="Click to select">Sine and Cosine<br>
				<li id="SoundwavePitchIntro" data-toggle="tooltip" data-placement="left" title="Click to select">Soundwaves and Pitch Tones<br>
			</ul>
		</div>
	</div>
{% endblock %}
			
{% block unique_js_block %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<!-- The feather.replace() causes all data-feather to be replaced with proper svg icon -->
	<script>feather.replace()</script>
	
	<!-- Custom JS for this page -->
	<script src="{% static 'js/IntroTrigMusicConcepts.js' %}" crossorigin="anonymous"></script>	
	
{% endblock %}