{% extends 'int_math/baseTrig.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}

{%block head_block %}
    <link href="{%static 'css/IntroTrigMusicConcepts.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
	<h1>Introduction to</h1><h1>Trig Functions and Music Concepts</h1>
	<img id="Initial_MCexplaining" src="{% static 'images/IntroCharacter.gif' %}" alt = "Character introducing terms and concepts" >
	<audio controls id="trigIntro-controls"> 
	<source src="{% static 'AudioExpln/TriggyIntro.mp3' %}"> 
		Your browser does not support html5 audio, please upgrade your browser (Chrome preferably) to latest version
	</audio>
	<div id="TriggyIntroText" ">
	<!-- text comes from MusicIntroToTerms.docx which the synthetic voice speaks to user.  Best to put text here for SEO -->
	Hi, my name is Triggy.  We are going to show how trig functions, namely sine and cosine, are used in music. 
	We’ll start with me playing a tune you know with simple sine functions then you can do this yourself and try new tunes. 
	Then we will look at how these sine and cosine functions come out of your algebra 2 class, then they start moving faster 
	and faster until they get fast enough to be heard by your ears and become a pitch frequency and then we will 
	compare those trig functions to the recordings of real musicians playing various instruments.   

	<br>
	But first we have to review some basic terms.  When this audio is done, 
	I will bring up several review topics or you can hit the Review button below to get there faster.  
	Each of the topics will bring up a short video explanation and there will be stuff for you to do during 
	the video.  I will start you on the first topic of frequency and period but you can choose as you like. 
	Go through or skip topics as you please.  When you are done or if you already know these concepts, 
	click the next page button on the lower right corner of this page or page 2 over on the far left list of 
	pages.  Have fun!
	
	</div>
	<button type="button" class="btn btn-outline-info" id="ReviewConcepts">Review</button>
	
	<!--  have to put another jquery library ref here, not sure why, its in the base, this must come before the jquery ui -->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script>
			//in case can't get from google, load from local
			var localJQ = "{% static 'js/jquery-360min.js' %}";
			window.jQuery || document.write('<script src=' + localJQ + '><\/script>');
			
			$(function() {
				// only execute if all is loaded
				//if Next  button hit (in base template), set it up to go to intro page
				$("#GoToNextPage").wrap('<a href="../MusicSineIntro"></a>');
			})
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>	
	<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
			
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<!-- The feather.replace() causes all data-feather to be replaced with proper svg icon -->
	<script>feather.replace()</script>
	
	<!-- Custom JS for this page -->
	<script src="{% static 'js/IntMath.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/IntMathUtils.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/IntroTrigMusicConcepts.js' %}" crossorigin="anonymous"></script>	
	
{% endblock %}