{% extends 'int_math/basePage.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}

{%block head_block %}
    <link href="{%static 'css/MusicSineIntro.css' %}" rel="stylesheet">
{% endblock %}

{% block artist_credit %}
	<p> <a href = "https://openclipart.org/detail/251263/prismatic-clef-hearts-2">Prismatic Clef Hearts image </a>by Gordon Dylan Johnson.  
	<a href = "https://openclipart.org/detail/140893/whole-note">Whole Note image </a>by Chandler Isaac Klebs</p>
{% endblock %}	

{% block body_block %}	
	<div id="MusicIntroBlock">
		<div id="MusicIntroHeaders">
			<h1 id="bigIntro">C Major scale</h1>
			<h2 id="bigIntroSub">Trig functions acting like musical instruments</h2>
		</div>
		<div id="TrumpetMusicalScale">
			<!-- Two canvases that sit on top of each other, one is to measure clicks and other is to fill in notes with color when selected -->	
			<!-- use the following to put a debug border around canvas: style="border:1px solid #000000;"  -->
			<canvas id="ClefWithNotes" width=1000 height=250 >
				Your Browser does not support canvas tag, you are missing graph capability
			</canvas>
			<canvas id="NotesFilledIn" width=1000 height=250>
				Your Browser does not support canvas tag, you are missing graph capability
			</canvas>
			<!--  to add border to canvas, add this at end style="border:1px solid #000000;" -->
			<!--  This canvas is needed to get red cursor to show up on page -->
			<canvas id="funTutorial_MSIntro" width=1000 height=250> <!--  must match canvas above -->
				Your Browser does not support canvas tag, you are missing graph capability
			</canvas>	
			
			<img id="colorfulClef" src="{% static 'images/Prismatic-Clef-Hearts-2.svg' %}" alt = "Clef to left of musical notes">
			<img class="wholeNote" id="wholeNote1" src="{% static 'images/WholeNote.svg' %}" alt = "Low C whole note">
			<img class="wholeNote" id="wholeNote2" src="{% static 'images/WholeNote.svg' %}" alt = "D whole note">
			<img class="wholeNote" id="wholeNote3" src="{% static 'images/WholeNote.svg' %}" alt = "E whole note">
			<img class="wholeNote" id="wholeNote4" src="{% static 'images/WholeNote.svg' %}" alt = "F whole note">
			<img class="wholeNote" id="wholeNote5" src="{% static 'images/WholeNote.svg' %}" alt = "G whole note">
			<img class="wholeNote" id="wholeNote6" src="{% static 'images/WholeNote.svg' %}" alt = "A whole note">
			<img class="wholeNote" id="wholeNote7" src="{% static 'images/WholeNote.svg' %}" alt = "B whole note">
			<img class="wholeNote" id="wholeNote8" src="{% static 'images/WholeNote.svg' %}" alt = "C whole note">
			<p class="letterToNote" id="LowCNote"></p>
			<p class="letterToNote" id="DNote"></p>
			<p class="letterToNote" id="ENote"></p>
			<p class="letterToNote" id="FNote"></p>
			<p class="letterToNote" id="GNote"></p>
			<p class="letterToNote" id="ANote"></p>
			<p class="letterToNote" id="BNote"></p>
			<p class="letterToNote" id="CNote"></p>
			<!-- The canvas will be used to draw lines for notes, the clef, notes and text will drop on canvas -->
			<!-- Initial instructions will come in from left, stay for a few sec and go off to right -->
			<ol id = "initialInstrMusicTrigIntro">
				<li>Turn ON your speaker</li>
		  		<li>Click some notes</li>
			</ol>
		</div>
		
		<div id="SinusoidGraph">
			<label id = "noteSelect">Note Played: </label>
			<p id="noteSelectVal"> </p>
			<label id = "FreqOfNote">Frequency (Hz):  </label>
			<p id="FreqOfNoteVal"> </p>
			<label id = "noteVolLabel">Volume:  </label>
			<p id = "noteVolValue"></p>
			<input id="noteVol" type="range" step="1" value="20" min="1" max="100" data-toggle="tooltip" data-placement="right" title="Turn on your speaker">
			<input type="button" id="ResetPage" value="Reset" data-toggle="tooltip" data-placement="left" title="Reset page">
			<input type="button" id="VolOnOff" value="Silence" data-toggle="tooltip" data-placement="right" title="Turn on/off tones">
			<!-- For debug to see where this canvas is, can add border around it with:  style="border:1px solid #000000;" -->
			<p id = "notesToPlayLabel" data-toggle="tooltip" data-placement="right" title="Play these notes in order"></p>
			<p id = "notesToPlay" ></p>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuSong" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" data-placement="right" title="Notes for you to play on the scales above">
				    Try a Song
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuSong">
				    <button class="dropdown-item" type="button" id="Song1">Twinkle Twinkle</button>
				    <button class="dropdown-item" type="button" id="Song2">Happy Birthday</button>
				    <button class="dropdown-item" type="button" id="Song3">Jingle Bells</button>
				</div>
	        </div>
			<canvas id="PitchGraph" width=600 height=250>
				Your Browser does not support canvas tag, you are missing graph capability
			</canvas>
			<!--  IMAGE credits, images from openclipart.org -->
		</div>
	</div>
	<!-- Leave this text at the bottom to be consumed by JS and put in proper place.  
	At the bottom it doesn't consume space from other elements but it does give search engines a clue what page is all about. -->
    <p class="AdvTopic_ToDo">TRY THIS: On complicated pages, a list of stuff to try out will be here.
	</p>
	<p class="AdvTopic_Expln">EXPLANATION: On complicated pages, a detailed explanation of advanced concepts will be here
	</p>

	<br>
	<br>

	<!-- Bootstrap core JavaScript,jquery must be before bootstrap -->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script>
			<!-- in case can't get from google, load from local -->
			var localJQ = "{% static 'js/jquery-360min.js' %}";
			window.jQuery || document.write('<script src="${localJQ}"><\/script>')
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
			
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<!-- The feather.replace() causes all data-feather to be replaced with proper svg icon -->
	<script>feather.replace()</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.73/Tone.js"></script>
    <!-- Get the correct cdn chart.js from https://cdnjs.com/libraries/Chart.js (see stackoverflow)-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js" integrity="sha512-CMF3tQtjOoOJoOKlsS7/2loJlkyctwzSoDK/S40iAB+MqWSaf50uObGQSk5Ny/gfRhRCjNLvoxuCvdnERU4WGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- Custom JS for this page -->
	<script src="{% static 'js/IntMath.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/IntMathUtils.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/autoDemo.js' %}" crossorigin="anonymous"></script>	     
	<script src="{% static 'js/MusicSineIntro.js' %}" crossorigin="anonymous"></script>	
	


{% endblock %}