{% extends 'int_math/basePage.html' %}
{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}
 
{%block head_block %}
    <link href="{%static 'css/MusicNotesTrig.css' %}" rel="stylesheet">
{% endblock %}

{% block artist_credit %}
	 {{ artistCredit }}
{% endblock %}	
   
{% block body_block %}

<div id="SineCosBlock">
	
	<div id ="headerAndCtl_TT">
    	<h1 id = "musicalActivity"></h1>
    </div>
    <!-- default startup, will change as user loads musician notes-->
    <p class="AdvTopic_ToDo"> TRY THIS:  Turn on your speaker.  Select an instrument from the drop down menu.  
    Hit Play Tone button to hear the sine wave frequency of this note (to within 1 Hz) then hit Start Instrument button.
    Look at the plot of the MP3 waveform of the musician playing the note versus the sine wave basic frequency.  
    The period of the two waveforms are the same.  The musicians sound is much richer than the sine
    wave at the pitch frequency, which you would expect by looking at the more complex waveform produced.
	</p>
    <p class="AdvTopic_Expln"> EXPLANATION:  Sine and Cosine functions, when translated to voltage and sent to a speaker are just tones.  
    Here we set the frequencies to the pitch frequency of the instrument/note played. 
    Musical notes are made up of a pitch frequency, which is the sine wave tone shown here plus some harmonics of the pitch frequency 
    and overtones that give the instrument its richness.  
    The harmonics and overtones are multiples of the pitch frequency which is why the musical instrument playing a note repeats at the rate 
    of the sine wave pitch frequency.  
    In fact, we could start with a sine at the pitch frequency and a calculated amplitude and phase.  Then we add another sine at 
    2 times the pitch frequency with newly calculated amplitude and phase.  
    We continue and add another sine and cosine of 3x the pitch frequency with calculated amplitude and phase and so on up to a very 
    high multiple of the pitch frequency.  This is how you can mathematically represent ANY of these
    musical instruments playing a note.  The amplitudes calculated would be different for a trumpet versus a flute versus the human voice 
    but you could create any of these
    waveforms of an instrument playing a note. This is the basis for Fourier Series, a college concept for mathematically representing 
    ANY periodic waveform.  The concept is used in musical digital synthesizers to generate a wide variety of sounds.
    </p>  
    
	<!--  dont put tables inside a div, they stop "working", elements aren't functional anymore -->
	<div id="MusicNotesToneControl">
	
		<div id="musicNotes">
			<table>
				<tbody>
					<tr>
						<th colspan='2'>Musical Notes Parameters</th>
					    <!--  this button plays the tone and is visible only when instrument chosen -->
 	 					<img id="allowNotePlay" src = {% static 'images/volume-off.svg' %} alt="Volume is currently off" data-toggle="tooltip" data-placement="top" title="turn on speaker and click to hear sine wave you created"">
						
					</tr>	
					<tr>		
						<td align="left">
							<div class="dropdown" id="InstrumentSel">
								<!-- use warning button to get nice gold color -->
								<button class="btn btn-warning btn-sm dropdown-toggle" type="button" id="InstrumentTypeSel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    				Pick an instrument
								</button>
								<div class="dropdown-menu" aria-labelledby="InstrumentTypeSel" id="InstrumentSelections">
									<!-- The value attribute must match the instrument on JSON ToneTrigConfig.json -->
								    <button class="dropdown-item" type="button" value="Trumpet">B<sup>&#9837;</sup> Trumpet</button>
								    <button class="dropdown-item" type="button" value="Clarinet">Clarinet</button>
								    <button class="dropdown-item" type="button" value="Soprano Sax">Soprano Sax</button>
								    <button class="dropdown-item" type="button" value="Tenor Sax">Tenor Sax</button>
								    <button class="dropdown-item" type="button" value="Flute">Flute</button>
								    <button class="dropdown-item" type="button" value="Human">Human Voice</button>
								</div>
	        				</div>
						</td>
						<td align="right">
							Volume: <span id="currMusicVolLabel"></span>
						</td>						
					</tr>
					<tr>
						<td align="left">
							Current Note: <span id="currMusicNoteLabel"></span>
						</td>
						<!-- vertical orientation not supported the same way by all browsers and likely to change, keep horiz, use bootstrap for tooltips  -->
						<td align="right">
							<input id="music-amp" type="range" step="1" value="3" min="0" max="10" data-toggle="tooltip" data-placement="left" title="We'll leave graph the same for simplicity">
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="toneChanges">
			<table>
				<tbody>
					<tr>
						<th colspan='2'>Sine Wave (tone) Parameters</th>
 	 					<!--  this button plays the tone and is visible all the time -->
 	 					<img id="toneStartButton" src = {% static 'images/volume-off.svg' %} alt="Volume is currently off" data-toggle="tooltip" data-placement="top" title="turn on speaker and click to hear sine wave you created"">
					</tr>	
					<tr>		
						<td>
							Frequency: <span id="currFreqLabel"></span> Hz
						</td>
						<td>
							Volume: <span id="currToneVolLabel"></span>
						</td>						
					</tr>
					<tr>
						<!-- vertical orientation not supported the same way by all browsers and likely to change, keep horiz, use bootstrap for tooltips  -->
						<td>  <!-- placeholder for missing element -->
						     
						</td>
						<td align="right">
							<input id="tone-amp" type="range" step="1" value="3" min="0" max="10" data-toggle="tooltip" data-placement="left" title="We'll leave graph the same for simplicity">
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	
 	<div id="GraphPlusPeriodMarkers">
 		<!--  want to overlap the top graph with expansion lines below it -->
 		<!--  canvas used for chart js need the size defined one level up at div -->
	 	<div id = "sinePlotLongWrapper">
	 		<!-- Needs to be a bit bigger since it has the title -->
	 		<canvas id="sine_plotsLong">
	 		Your Browser does not support canvas tag, you are missing graph capability
	 		</canvas>
	 	</div>
	 	<div class="Period_Tone First_Period"></div>
	 	<div class="Period_Tone Second_Period"></div>
	 	<div class="Period_Tone Third_Period"></div>
	 	<div class="Period_Tone Fourth_Period"></div>
	 	<div id = "Period_Text1" ></div>
	 	<div id = "Period_Text2" ></div>
	 	
	 	<!-- Needed for the period markers showing periodicity -->
	 	<!--  use following for debug on canvas placement  style="border:1px solid #FF0000; to see the canvas in red -->
		<canvas id="periodicityIndicator">
 			Your Browser does not support canvas tag, you are missing graph capability
 		</canvas>
 	</div>
</div>
{% endblock %}	
        

{% block unique_js_block %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.73/Tone.js"></script>
    <!-- Get the correct cdn chart.js from https://cdnjs.com/libraries/Chart.js (see stackoverflow, use umd version)-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js" integrity="sha512-CMF3tQtjOoOJoOKlsS7/2loJlkyctwzSoDK/S40iAB+MqWSaf50uObGQSk5Ny/gfRhRCjNLvoxuCvdnERU4WGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<!-- The feather.replace() causes all data-feather to be replaced with proper svg icon -->
	<script>feather.replace()</script>
	
	<!-- Custom JS for this page -->
	<script src="{% static 'js/autoDemo.js' %}" crossorigin="anonymous"></script>	    
    <script src="{% static 'js/MusicNotesTrig.js' %}" crossorigin="anonymous"></script>	 

{% endblock %}	

