{% extends 'int_math/basePage.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}

{%block head_block %}
	 <link href="{%static 'css/MusicSineSummary.css' %}" rel="stylesheet">
{% endblock %}

{% block artist_credit %}
	<p> Professor bird image by A.G. (2023) </p>
{% endblock %}

{% block body_block %}
	<div id="MusicVideoSummaryBlock">
		<h1>Sine and Cosine Make Music</h1>
		<h2>Summary</h2>
	
		<video height='480' width='640' controls poster="{{ cartoonIntroTrig }}">
			<source src="{{ musicSummaryVideo }}" type="video/mp4">
			Your browser does not support the Video tag of html5, time for a browser upgrade!		
		</video>
		
	
		<br>
		<br>	
	</div>
{% endblock %}	

{% block unique_js_block %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<!-- The feather.replace() causes all data-feather to be replaced with proper svg icon -->
	<script>feather.replace()</script>
		
	<!-- Custom JS for this page -->
    <script src="{% static 'js/MusicSineSummary.js' %}" crossorigin="anonymous"></script>	
	
{% endblock %}