{% extends 'int_math/baseTrig.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}

{%block head_block %}
	 <link href="{%static 'css/MusicSineSummary.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
	<h1>Sine and Cosine Make Music</h1>
	<h2>Summary</h2>

	<video height='480' width='640' controls poster="{% static 'images/MusicMenu.svg' %}">
		<source src="{% static 'VideoExpln/MusicSineSummary.mp4' %}" type="video/mp4">
		Your browser does not support the Video tag of html5, time for a browser upgrade!		
	</video>
	

	<br>
	<br>	

	<!--  have to put another jquery library ref here, not sure why, its in the base, this must come before the jquery ui -->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script>
			<!-- in case can't get from google, load from local -->
			var localJQ = "{% static 'js/jquery-360min.js' %}";
			window.jQuery || document.write('<script src="${localJQ}"><\/script>')
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>	
	<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
			
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<!-- The feather.replace() causes all data-feather to be replaced with proper svg icon -->
	<script>feather.replace()</script>
	
	<!-- To be able to add modal window for robot check -->
	<script src="{% static 'js/jquery-bootstrap-modal-forms-min.js' %}" crossorigin="anonymous"></script>
	
	<!-- Custom JS for this page -->
	<script src="{% static 'js/IntMath.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/IntMathUtils.js' %}" crossorigin="anonymous"></script>	
    <script src="{% static 'js/RobotChk.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/MusicSineSummary.js' %}" crossorigin="anonymous"></script>	
    
    <script type="text/javascript">
    $.getScript("../../../static/js/jquery-bootstrap-modal-forms-min.js", function() {
    	// we also have to wait until we are SURE the proper file has loaded before doing all this
		// This has to be here for django to render properly, cannot be in js file
		//{% if botChkTstNeed %}
		//	$('#kloodgeToGetBotModal').modalForm({
		//		//we put a next param on the url to indicate we want to come back to this spot when modal window done
		//       formURL: "{% url 'int_math:bot_check' %}?next={% url 'int_math:MusicSineSummary' %}"
		//    });
		//{% endif %}
	});
	</script>
	
{% endblock %}