{% extends 'int_math/base.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}
    
{% block body_block %}	
	<h1>Trig functions play the Trumpet B<span>&#9837;</span> Scale</h1>
	<div id="TrumpetMusicalScale">
		<!-- Two canvases that sit on top of each other, one is to measure clicks and other is to fill in notes with color when selected -->	
		<!-- use the following to put a debug border around canvas: style="border:1px solid #000000;"  -->
		<canvas id="ClefWithNotes" width=1000 height=250>
			Your Browser does not support canvas tag, you are missing graph capability
		</canvas>
		<canvas id="NotesFilledIn" width=1000 height=250>
		</canvas>
		<img id="colorfulClef" src="{% static 'images/Prismatic-Clef-Hearts-2.svg' %}" alt = "Clef to left of musical notes">
		<img class="wholeNote" id="wholeNote1" src="{% static 'images/WholeNote.svg' %}" alt = "Low C whole note on Trumpet scale">
		<img class="wholeNote" id="wholeNote2" src="{% static 'images/WholeNote.svg' %}" alt = "D whole note on Trumpet scale">
		<img class="wholeNote" id="wholeNote3" src="{% static 'images/WholeNote.svg' %}" alt = "E whole note on Trumpet scale">
		<img class="wholeNote" id="wholeNote4" src="{% static 'images/WholeNote.svg' %}" alt = "F whole note on Trumpet scale">
		<img class="wholeNote" id="wholeNote5" src="{% static 'images/WholeNote.svg' %}" alt = "G whole note on Trumpet scale">
		<img class="wholeNote" id="wholeNote6" src="{% static 'images/WholeNote.svg' %}" alt = "A whole note on Trumpet scale">
		<img class="wholeNote" id="wholeNote7" src="{% static 'images/WholeNote.svg' %}" alt = "B whole note on Trumpet scale">
		<img class="wholeNote" id="wholeNote8" src="{% static 'images/WholeNote.svg' %}" alt = "C whole note on Trumpet scale">
		<p class="letterToNote" id="LowCNote"></p>
		<p class="letterToNote" id="DNote"></p>
		<p class="letterToNote" id="ENote"></p>
		<p class="letterToNote" id="FNote"></p>
		<p class="letterToNote" id="GNote"></p>
		<p class="letterToNote" id="ANote"></p>
		<p class="letterToNote" id="BNote"></p>
		<p class="letterToNote" id="CNote"></p>
		<!-- The canvas will be used to draw lines for notes, the clef, notes and text will drop on canvas -->
		<!-- Initial instructions will come in from left, stif for a few sec and go off to right -->
		<ol id = "initialInstrMusicTrigIntro">
			<li>Turn ON your speaker</li>
	  		<li>Click some notes</li>
		</ol>
	</div>
	
	<div id="SinusoidGraph">
		<label id = "noteSelect">Note Played: </label>
		<p id="noteSelectVal"> </p>
		<label id = "FreqOfNote">Frequency (Hz):  </label>
		<p id="FreqOfNoteVal"> </p>
		<label id = "noteVolLabel">Volume (0 is mute):  </label>
		<p id = "noteVolValue"></p>
		<input id="noteVol" type="range" step="1" value="5" min="0" max="10" data-toggle="tooltip" data-placement="right" title="Turn on your speaker">
		<!-- For debug to see where this canvas is, can add border around it with:  style="border:1px solid #000000;" -->
		<p id = "notesToPlayLabel" data-toggle="tooltip" data-placement="right" title="Play these notes in order"></p>
		<p id = "notesToPlay" ></p>
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuSong" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Try a Song
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuSong">
			    <button class="dropdown-item" type="button" id="Song1">Twinkle Twinkle</button>
			    <button class="dropdown-item" type="button" id="Song2">Happy Birthday</button>
			    <button class="dropdown-item" type="button" id="Song3">Jingle Bells</button>
			</div>
        </div>
		<canvas id="PitchGraph" width=600 height=250>
			Your Browser does not support canvas tag, you are missing graph capability
		</canvas>
	</div>

	<br>
	<br>	

	
	<!--  have to put another jquery library ref here, not sure why, its in the base -->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="{% static 'js/jquery-360min.js' %}"><\/script>')
	</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.73/Tone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
	<!-- Custom JS for this page -->
	<script src="{% static 'js/IntMathUtils.js' %}" crossorigin="anonymous"></script>	    
	<script src="{% static 'js/MusicSineIntro.js' %}" crossorigin="anonymous"></script>	

{% endblock %}