{% extends 'int_math/baseTrig.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}
    
{%block head_block %}
    <link href="{%static 'css/StaticTrig.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
	<div id="StaticTrigBlock">
		<div id ="headerAndCtl_ST">
			<h1 id="HeaderTrig_ST">Where do sine waves come from?</h1>
		</div>
	
	
		<div id="CircleValues">	
			<label id="ampCircLabel"><b>Amplitude (r)</b></label>
			<input id="ampCirc" type="number" min="0" max="2" step="0.1" value="1.0" required data-toggle="tooltip" title="Use arrows to change from unit circle">	
			<p id="unitCircNotify">Unit Circle</p>
			<label id="xyValueLabel"><b>(x,y)</b></label>
			<p id="xyEqtn"></p>
			<p id ="xyFilledIn"></p>
			<p id="xyExactValue" data-toggle="tooltip" data-placement="right" title="Exact Value of (x,y)"></p>
			<p id="xyValueDecimal"data-toggle="tooltip"  data-placement="right" title="Decimal Approx of (x,y)"></p>
			<label id="thetaLabel"><b>&#920</b></label>
			<p id="theta">  </p>
			</p>	
		</div>
	
		<div id="Canvas_STrig">
			<!-- https://stackoverflow.com/questions/21179779/canvas-arc75-75-50-0-3-1415-true-draws-oval-instead-of-circle -->
			<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/canvas:  you must set bitmap for canvas in html, css only -->
			<!-- sets element size, resulting in distortion -->
			<!--  use this to create border for debug  style="border:1px solid #000000;" -->
			<canvas id="AmpSinCosCircle" width=1050 height=650 >
					Your Browser does not support canvas tag, you are missing graph capability
			</canvas>
			<div class="quadIdentifiers">
				<p id = "quad1_ID">I</p>
				<p id = "quad2_ID">II</p>
				<p id = "quad3_ID">III</p>
				<p id = "quad4_ID">IV</p>
			</div>	
			
			<div id="FirstHelp_ST">
			<!--  will dynamically add elements here -->
				<p> Start clicking yellow dots, which represent phase #920 values</p>
			</div>
			<canvas id="funTutorial_ST" width=1050 height=650 >
				Your Browser does not support canvas tag, you are missing graph capability
			</canvas>
		</div>
	</div>
	
	
	<!-- Leave this text at the bottom to be consumed by JS and put in proper place.  
	At the bottom it doesn't consume space from other elements but it does give search engines a clue what page is all about. Can only add inline elements to a <p></p>, <ul> is block -->
	<p class="AdvTopic_ToDo">TRY THIS: <br>1.  Click on one of the yellow dots and check out the animation.
	<br>2.  Try changing Amplitude (r) from a unit circle.  Notice the (x,y) points change as do the graphs since we plot rsin(&#920) and rcos(&#920) to the right.  Your choices are limited only because the plots need to fit on a page and be readable. 
	<br>3.  Check out the Explanation tab (here under Advanced Topics) for more detailed explanations (with equations, WOO HOO!)
	</p>
	<p class="AdvTopic_Expln">EXPLANATION:  <br>
	<u>Angles used in Sine and Cosine:</u>  When you click on a dot, it is the equivalent of selecting a phase and that phase has a sine and cosine value as reflected in the plots on the right.
	<br><br>
	<b>Quadrant 1:</b>  This is what you are familiar with.  Both sine and cosine are positive and angle &#920 is less than 90 degrees or &#960/2 radians.
	<br>
	<img src = {% static 'images/StaticTrigQ2.svg' %} alt="Theta angle in 2nd quadrant">
	<br>
	<b>Quadrant II:</b>  This is mind bending.  How can can I think about opposite and adjacent when &#920 doesn't make a right triangle?<br>  We can think about its supplementary angle &#966 = (&#960 - &#920) or &#920 = (&#960 - &#966).
	The new angle &#966 does form a right triangle twisted around the y axis so that the x axis cosine value will always be negative and y axis sine is always positive. <br>
	So what we want to solve is sin(&#920) = sin(&#960 - &#966).<br>  Using our trig identity sin(a &#177 b) = sin(a)cos(b) &#177 cos(a)sin(b) we get <br>sin(&#920) = sin(&#960 - &#966) = sin(&#960)cos(&#966) - cos(&#960)sin(&#966).  <br>Since sin(&#960) = 0 and cos(&#960) = -1, we get 
	<br><b>sin(&#920)</b> = sin(&#960 - &#966) = <b>sin(&#966)</b> as is shown on the unit circle for dots clicked in the second quadrant.  <br>Similarly, using our trig identity cos(a &#177 b) = cos(a)cos(b) &#8723 sin(a)sin(b) we get <b>cos(&#920)</b> = cos(&#960 - &#966) = cos(&#960)cos(&#966) + sin(&#960)sin(&#966) <b>= -cos(&#966)</b>.  
	So now we can think about angles in second quadrant &#920 relative to angles that are less than 90 degrees &#966 because <br><b>sin(&#920)</b> = <b>sin(&#966)</b> and <b>cos(&#920)</b> = <b>-cos(&#966)</b>.   
	<br>
	<img src = {% static 'images/StaticTrigQ3.svg' %} alt="Theta angle in 3rd quadrant">
	<br>
	<b>Quadrant III:</b> Hmmm, &#920 is now wrapping past 180 degrees, how do I find sin(&#920) and cos(&#920)?  Lets use those trig identities we looked at already and think about a new angle &#966 = (&#920 - &#960) or &#920 = (&#966 + &#960).  
	From the trig identities above we have <b>sin(&#920)</b> = sin(&#966)cos(&#960) + cos(&#966)sin(&#960) = <b>-sin(&#966)</b>
	and <b>cos(&#920)</b> = cos(&#966)cos(&#960) - sin(&#966)sin(&#960) = <b>-cos(&#966)</b>.  
	<br>So we see that <b>sin(&#920) = -sin(&#966)</b> and <b>cos(&#920) = -cos(&#966)</b> in quadrant III.  So it goes, in quadrant III, sin and cos are always negative.
	<br>
	<img src = {% static 'images/StaticTrigQ4.svg' %} alt="Theta angle in 4th quadrant">
	<br>
	<b>Quadrant IV:</b>  Yes, the strategies that worked in the other quadrants will also shed light on how to calculate sin and cos of &#920 in terms of an angle thats less than 90 degrees or &#960/2.
	Lets think about an angle &#966 = (2*&#960 - &#920) or &#920 = (2*&#960 - &#966).  
	Looking first at the sin, <b>sin(&#920)</b> = sin(2*&#960 - &#966) = sin(2*&#960)cos(&#966) - oos(2*&#960)sin(&#966) = <b>-sin(&#966)</b> since sin(2*&#960) = 0 and oos(2*&#960) = 1.  
	<br>Lets do cos, <b>cos(&#920)</b> = cos(2*&#960 - &#966) = cos(2*&#960)cos(&#966) + sin(2*&#960)sin(&#966) = <b>cos(&#966)</b>.  We can see from the unit circle and animation for the fourth quadrant:
	<b>sin(&#920)</b> = <b>-sin(&#966)</b> and <b>cos(&#920)</b> = <b>cos(&#966)</b>
	<br><br>
	<u>Changing the amplitude from the unit circle: </u> 
	The unit circle is a convenient way to talk about angles and sine/cosine.  
	However, the diameter of the unit circle (r) multiplies sine and cosine of the graph.  When you change the value Amplitude (r) up or down, 
	you can see that the (x,y) values are now multiplied by r.  
	Also the sine cosine curves to the right grow as you increase r beyond 1 and shrink as you decrease it below 1.  
	<br>Why do we care?  Well, as we continue on through these pages, we will find that sine/cosine waves make a sound on your speaker and that radius r is the amplitude 
	of the sine and cosine wave which translates into volume to your speaker.  So higher values of r are louder than smaller values of r.  
	As r goes to zero, the tone becomes muted.  
	</p>
	
	<!-- Bootstrap core JavaScript,jquery must be before bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script>
			<!-- in case can't get from google, load from local -->
			var localJQ = "{% static 'js/jquery-360min.js' %}";
			window.jQuery || document.write('<script src="${localJQ}"><\/script>')
	</script>
	<!--  jquery ui needed for advanced topic draggable window -->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
	
	<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
			
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<!-- The feather.replace() causes all data-feather to be replaced with proper svg icon -->
	<script>feather.replace()</script>
	
	<!-- the next two scripts bring in mathjax, which is compatible with most number of browsers, these scripts will keep up with version changes in mathjax --> 
	<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
	</script>
	
	<!-- Custom JS for this page -->
	<script src="{% static 'js/IntMath.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/IntMathUtils.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/autoDemo.js' %}" crossorigin="anonymous"></script>	    
	<script src="{% static 'js/StaticTrig.js' %}" crossorigin="anonymous"></script>	 
	
	<br><br>

	
{% endblock %}
