{% extends 'int_math/base.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}
    
{% block body_block %}
	<div id ="headerAndCtl_ST">
		<h1 id="HeaderTrig_ST">Where do sine waves come from?</h1>
	</div>


	<div id="CircleValues">	
		<label id="ampCircLabel"><b>Amplitude (r)</b></label>
		<input id="ampCirc" type="number" min="0" max="2" step="0.1" value="1.0" required data-toggle="tooltip" title="Use arrows to change from unit circle">	
		<p id="unitCircNotify">Unit Circle</p>
		<label id="xyValueLabel"><b>(x,y)</b></label>
		<p id="xyEqtn"></p>
		<p id ="xyFilledIn"></p>
		<p id="xyExactValue" data-toggle="tooltip" data-placement="right" title="Exact Value of (x,y)"></p>
		<p id="xyValueDecimal"data-toggle="tooltip"  data-placement="right" title="Decimal Approx of (x,y)"></p>
		<label id="thetaLabel"><b>&#920</b></label>
		<p id="theta">  </p>
		</p>	
	</div>

	<!-- https://stackoverflow.com/questions/21179779/canvas-arc75-75-50-0-3-1415-true-draws-oval-instead-of-circle -->
	<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/canvas:  you must set bitmap for canvas in html, css only -->
	<!-- sets element size, resulting in distortion -->
	<!--  use this to create border for debug  style="border:1px solid #000000;" -->
	<canvas id="AmpSinCosCircle" width=1050 height=650 >
			Your Browser does not support canvas tag, you are missing graph capability
	</canvas>	
	
	<div id="FirstHelp_ST">
	<!--  will dynamically add elements here -->
		<p> Start clicking yellow dots, which represent phase &#920 values</p>
	</div>
	
	<!-- Leave this text at the bottom to be consumed by JS and put in proper place.  
	At the bottom it doesn't consume space from other elements but it does give search engines a clue what page is all about. -->
	<p class="AdvTopic_ToDo">TRY THIS:  Click on one of the yellow dots. Try changing Amplitude (r) from a unit circle.  Your choices are limited only because the plots need to fit on a page and be readable.
	</p>
	<p class="AdvTopic_Expln">EXPLANATION:  When you click on a dot, it is the equivalent of selecting a phase and that phase has a sine and cosine value as reflected in the plots on the right.  When you change r from its default value of 1 (unit circle) the (x,y) values and rcos, rsin values also change.
	</p>
	
	<!-- Bootstrap core JavaScript,jquery must be before bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="{% static 'js/jquery-360min.js' %}"><\/script>')
	</script>
	<!--  jquery ui needed for advanced topic draggable window -->
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
	
	<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
			
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<!-- The feather.replace() causes all data-feather to be replaced with proper svg icon -->
	<script>feather.replace()</script>
	
	<!-- the next two scripts bring in mathjax, which is compatible with most number of browsers, these scripts will keep up with version changes in mathjax --> 
	<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
	</script>
	
	<!-- Custom JS for this page -->
	<script src="{% static 'js/IntMath.js' %}" crossorigin="anonymous"></script>	
	<script src="{% static 'js/IntMathUtils.js' %}" crossorigin="anonymous"></script>	    
	<script src="{% static 'js/StaticTrig.js' %}" crossorigin="anonymous"></script>	 
	
	<br><br>

	
{% endblock %}
