<!-- This controls appearance of the subtopics off to the left side of the page -->
<ul class="nav flex-column">
{% if subtopics %}
	<p id="headerForSubtopics"> {{current_topic.name}} Subtopics </p>
	{% for s in subtopics %}
		<li class="nav-item">
		<a class="nav-link" href={{ s.url }}>
			<span data-feather="music" ></span>{{ s.title }}
		</a>
		</li>
	{% endfor %}
{% else %}
	<div id = "NoSubtopicAvail"> <li class="nav-item">Select a subject from menu above and will get subtopics here.</li></div>
{% endif %}
</ul>
