<!--
 * ============================================================================
 * COMPONENT: Django HTML 
 * FILE:      subtopics.html
 * ============================================================================
 * 
 * DESCRIPTION:
 * This controls appearance of subtopics off to left side of page.  Actual values are
 * populated from database.
 * 
 * DEPENDENCIES:
 * 
 * ARCHITECTURE NOTES:
 * 
 * FIRST PRODUCTION VERSION: 2026-06-07
 * AUTHOR:     C. DeMeyer (with Gemini AI assist)
 * ============================================================================
 -->

<ul class="nav flex-column"> 
  {% if subtopics %} 
    <!-- Wrap the heading text inside an li wrapper to keep HTML valid -->
    <li class="nav-header-item" style="list-style: none;">
      <p id="headerForSubtopics"> Subtopics </p> 
    </li>
    
    {% for s in subtopics %} 
      <li class="nav-item"> 
        <a class="nav-link" href={{ s.url }}> 
          <span data-feather="music"></span>{{ s.title }} 
        </a> 
      </li> 
    {% endfor %} 
    
  {% else %} 
    <!-- Move the div wrapper INSIDE the li element, or apply the ID to the li -->
    <li class="nav-item" id="NoSubtopicAvail" style="list-style: none !important;">
      Select a subject from menu along top right and will get subtopics here.
    </li>
  {% endif %} 
</ul>