<!--
 * ============================================================================
 * COMPONENT: Django HTML 
 * FILE:      TermsOfUse.html
 * ============================================================================
 * 
 * DESCRIPTION:
 * Shows the terms of use pdf file via an iframe to allow scrolling.
 * 
 * DEPENDENCIES:
 * - Styles:   see section head_block also section head in file basePage.html
 * - Scripts:  see section unique_js_block or head_block also section head in file basePage.html
 * - Backend:  Django HTML, Static files served over cloud service such as Cloudflare
 * 
 * ARCHITECTURE NOTES:
 * This HTML page depends on basePage.html. 
 * There is no jquery or bootstrap dependency, we do use a "sugar" file that has 
 *    the parts of those libraries we need but uses native HTML/JS:  jqBS-shorthand.js
 * 
 * FIRST PRODUCTION VERSION: 2026-06-07
 * AUTHOR:     C. DeMeyer (with Gemini AI assist)
 * ============================================================================
 -->
{% extends 'int_math/basePage.html' %}

{% load static %} 

{%block title_block %}
	{{ page_tab_header }}
	
{% endblock %}
    
{% block body_block %}
	<!-- Safari can't show multiple pages of a pdf in an iframe, need to pull in html, a well known bug from multiple years ago -->
    <iframe src="{{legalDocTerms}}" width="100%" height="600px">
    </iframe>

	<br>
	<br>
{% endblock %}		

{% block unique_js_block %}
	<script nonce="{{ CSP_NONCE }}">			
		    // Clean up UI elements not needed for this page
		    $$('a[href="#AdvancedTopics"], #TrigPageTop, #GoToPreviousPage').hide();
			const element = document.getElementById("GoToNextPage");
			if (element) {
			    const wrapper = document.createElement("a");
			    wrapper.href = "../Privacy";
			    element.parentNode.insertBefore(wrapper, element);
			    wrapper.appendChild(element);
			}
			
			
	</script>
 
{% endblock %}