{% extends 'int_math/basePage.html' %}

{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
	
{% endblock %}
    
{% block body_block %}
	<!-- Safari can't show multiple pages of a pdf in an iframe, need to pull in html, a well known bug from multiple years ago -->
    <iframe src="{{legalDocTerms}}" width="100%" height="600px">
    </iframe>

	<br>
	<br>
{% endblock %}		

{% block unique_js_block %}
	<script>			
			// Dont need advanced topic link popup
			$('a[href="#AdvancedTopics"]').css('display', 'none');
			$("#GoToPreviousPage").css('display', 'none');
		    $("#GoToNextPage").wrap('<a href="../Privacy"></a>');
	</script>
 
{% endblock %}