<!--
 * ============================================================================
 * COMPONENT: Django HTML 
 * FILE:      ToneTrig.html
 * ============================================================================
 * 
 * DESCRIPTION:
 * Allows users to adjust parameters of sine waves with frequencies in the audible
 * range.  Interactively adjust frequency, amplitude, phase of a tone (sine wave) and listen
 * to results.
 * 
 * DEPENDENCIES:
 * - Styles:   see section head_block also section head in file basePage.html
 * - Scripts:  see section unique_js_block or head_block also section head in file basePage.html
 * - Backend:  Django HTML, Static files served over cloud service such as Cloudflare
 * 
 * ARCHITECTURE NOTES:
 * - Automated demos (autodemo) consist of mp3 of teens explaining math and timed JS
 * 	that executes the spoken actions as a demonstration on using the page.
 * - Canvases are used to create unit circles that user interacts with
 * - Advanced Topic is a popup that user can move around that suggests activities
 *      and explains things that are more advanced or applied engineering
 * This HTML page depends on basePage.html. 
 * There is no jquery or bootstrap dependency, we do use a "sugar" file that has 
 *    the parts of those libraries we need but uses native HTML/JS:  jqBS-shorthand.js
 * 
 * FIRST PRODUCTION VERSION: 2026-06-07
 * AUTHOR:     C. DeMeyer (with Gemini AI assist)
 * ============================================================================
 -->
 {% extends 'int_math/basePage.html' %}
{% load static %} 

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}
 
{%block head_block %}
    <link href="{{ ToneTrigCSS }}" rel="stylesheet">
{% endblock %}
{% block artist_credit %}
	{{ artistCredit }}
	<br>
	<!-- Replaced legacy Bootstrap text-underline and font-size-sm layout classes with native inline styles -->
	<a href="https://iconscout.com/icons/volume" style="text-decoration: underline; font-size: 0.875rem;" target="_blank">Volume</a> by <a href="https://iconscout.com/contributors/eva-icons" style="text-decoration: underline; font-size: 0.875rem;" target="_blank">Akveo</a>
	<br>
	<a href="https://iconscout.com/icons/volume-off" style="text-decoration: underline; font-size: 0.875rem;" target="_blank">Volume Off</a> by <a href="https://iconscout.com/contributors/eva-icons" style="text-decoration: underline; font-size: 0.875rem;">Akveo</a> on <a href="https://iconscout.com" style="text-decoration: underline; font-size: 0.875rem;">IconScout</a>
{% endblock %}	
   
{% block supportMaterial %}
	<h1 id="musicalActivity"><br>Synthesized Tone</h1>
{% endblock %}

{% block body_block %}

	<div id="ToneTrigBlock">
 
	    <!-- default startup, will change as user loads musician notes-->
	    <p class="AdvTopic_ToDo"> TRY THIS:  Turn on your speaker.  Hit Start Tone and adjust Frequency and notice the pitch goes up and down.  
	    Adjust Amplitude and notice only the volume changes.  Adjust Phase slowly and note there is no perceived change but if you 
	    change it quickly, you can get a popping sound.  
		</p>
	    <p class="AdvTopic_Expln"> EXPLANATION:  Synthesized Tone.  Sine and Cosine functions, when translated to voltage and sent 
	    to a speaker are just tones. Pure tones are of one frequency only. 
	    As the amplitude increases, the sound gets louder and as the amplitude decreases, it gets softer.  You can see this in the 
	    equation for the tone.
	    Phase only has meaning if you compare it to some reference.  As you adjust phase, that reference is what
	    you heard just a few milliseconds ago.  If you change the phase slowly, the waveform of what you hear and what you just 
	    heard are pretty darn close.  Thus, you can't hear slow phase changes. 
	    However, if you change phase very fast, it can sound like pops in the speaker.  
	    This is because when the phase changes quickly, you are comparing current phase with an older version which is way off.
	    This can produce a large discontinuity in the waveform and this sounds like a pop.  
	    When you adjust the frequency slider, you change the pitch and you can move from low bass up to the midrange of human 
	    hearing at 10,000 Hz.  
	    Musical notes as played on various instruments, are made up of a pitch frequency, plus harmonics and overtones that 
	    give the instrument its rich sound.  
	    We will look at this more on the next page.

	    </p>
	    <div id="menuExplnTones">
		    
			<!--  dont put tables inside a div, they stop "working", elements aren't functional anymore -->
			<div id="toneChanges">
				<table style="border: 0; width: 600px;">  
					<tbody>
						<tr>
							<td colspan="4" style="text-align: center;"><h4><b>Sine Wave (tone) Parameters</b></h4></td>
						</tr>	
						<tr>
							<td colspan="4" style="text-align: center;">
 	 							<!--  this button plays the tone and is visible all the time -->
								<div class="toneStartButton">
					    			<img class="VolOff" src="{{ VolumeOffSVG }}" alt="Volume is currently off" title="turn on speaker and hear sine waves you created">
					    			<img class="VolOn" src="{{ VolumeOnSVG }}" alt="Volume is currently on" title="turn on speaker and hear sine waves you created">
								</div>						
 							</td>
						</tr>
						<tr>		
							<td style="text-align: left;">
								<b>Max Freq on slider</b> 
							</td>
							<td style="text-align: left;">
								<b>Frequency:</b> <span id="currFreqLabel">1000</span> Hz 
							</td>
							<td style="text-align: left;">
								<b>Amplitude(Volume):</b> <span id="currAmpLabel">000</span>
							</td>
							<td style="text-align: left;">
								<b>Phase:</b> <span id="currPhaseLabel">000</span> degrees
							</td>						
						</tr>
						<tr>
							<td>
								<input id="freqMax" type="number" size="3" min="1000" max="10000" value="2000" title="Choose max freq for slider to the right (1000 Hz -10000 Hz)"> Hz
							</td>
							<td>
								<input id="in-range-freq" type="range" step="1" value="1000" min="100" max="2000" title="click on slider and use arrows for greater precision, max frequency set by box to left">
							</td>
							<td>
								<input id="in-range-amp" type="range" step="1" value="10" min="1" max="100" title="click on slider and use arrows for greater precision">
							</td>
							<td>
								<input id="in-range-phase" type="range" step="1" value="0" min="0" max="360" title="click on slider and use arrows for greater precision">
							</td>
						</tr>

					</tbody>
				</table>
			</div>
	
		 	<!-- The plots and explanation lines inbetween the plots, the div is a way to set height and width of canvases -->
	 		<div id="wrap_sin_plotsLong">
			 	<canvas id="sine_plotsLong">
			 		Your Browser does not support canvas tag, you are missing graph capability
			 	</canvas>
		 	</div>
		 	<!-- this is not chart.js canvas, treat normally for sizing -->
	 		<canvas id="timeExpand">
	 			Your Browser does not support canvas tag, you are missing graph capability
	 		</canvas>
	 		<div id="wrap_sin_plotsShort">
		 		<canvas id="sine_plotsShort">
		 			Your Browser does not support canvas tag, you are missing graph capability
		 		</canvas>
	 		</div>
			
			<br>
			<br>
		</div>
	</div>
	
{% endblock %}           

{% block unique_js_block %}
	<!-- Icon Utility Library (Feather Icons) -->
	<script 
	  nonce="{{ CSP_NONCE }}" 
	  src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.2/feather.min.js" 
	  integrity="sha512-zMm7+ZQ8AZr1r3W8Z8lDATkH05QG5Gm2xc6MlsCdBz9l6oE8Y7IXByMgSm/rdRQrhuHt99HAYfMljBOEZ68q5A==" 
	  crossorigin="anonymous" 
	  referrerpolicy="no-referrer">
	</script>
	<!-- The feather.replace() causes all data-feather to be replaced with proper svg icon -->
	<script nonce="{{ CSP_NONCE }}">
		feather.replace();
	</script>
	<script 
		nonce="{{ CSP_NONCE }}" 
	    src="https://cdnjs.cloudflare.com/ajax/libs/tone/15.0.0/Tone.min.js" 
	    integrity="sha512-1FevU8nAzI3lwCmDN8jhSaOWFXCMvEQt+k6BhC9+OMpPjGDS/CmxG6yFwxsyX1QNSyXmmgfmVZfYwIWIlpMylw==" 
	    crossorigin="anonymous" 
	    referrerpolicy="no-referrer">
	</script>
    <!-- Get the correct cdn chart.js from https://cdnjs.com/libraries/Chart.js -->
	<script nonce="{{ CSP_NONCE }}"
	    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" 
	    integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" 
	    crossorigin="anonymous" 
	    referrerpolicy="no-referrer">
	</script>	
	<!-- Framework-Free Asset Scripts for this Page -->
	<script src="{{ basePage.AutoDemoJS }}" crossorigin="anonymous"></script>	    
    <script src="{{ ToneTrigJS }}" crossorigin="anonymous"></script>	
{% endblock %}
    

