{% extends 'int_math/base.html' %}
{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}
    
{% block body_block %}

<!-- SineCosID is a placemarker for begin of link to go to sine cosine tones and musical notes -->
<div id="SineCosID">
	<!--  for robot checking, if true, don't put bot check modal window up, user is not a bot -->
	<div id="botCheckTestNeeded">{{ botChkTstNeed }}</div>
	
	<div id ="headerAndCtl_TT">
    	<input type="button" id="allowNotePlay" value="Play Note"> 
    	<input type="button" id="ToDo_or_expln_TT" value="Explain">  	
    	<h1 id = "musicalActivity">Synthesized Tone</h1>
    </div>
    
	<!-- When user requests large mp3 file from server via drop down menu, put up modal window to ensure user is not a bot -->
	<div class="modal fade" tabindex="-1" role="dialog" id="modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content"></div>
		</div>
	</div>
    
    <div id="menuExplnTones">
	    <div id="InstrumentDropDownMenu">	 
	       	<!-- Bootstrap dropdown see W3schools https://www.w3schools.com/bootstrap/bootstrap_ref_js_dropdown.asp --> 
	   		<button class="btn btn-default dropdown-toggle" type="button"  id="InstrumentToneMenu" data-toggle="dropdown">
	     		<img src="{% static 'images/MusicMenu.svg' %}" alt = "Music drop down menu to select instruments playing notes" data-toggle="tooltip" title="click to get musical note dropdown menu" >
	       		<span class="caret"></span>
	   		</button>
	   		<!--  role and aria* helps those using screen readers -->
	   		<ul class="dropdown-menu" role="menu" aria-labelledby="InstrumentToneMenu">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tone Only</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">B<span>&#9837;</span> Trumpet plays C5</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Clarinet plays C5</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Soprano Sax plays C5</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tenor Sax plays C4</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Flute plays B4<span>&#9837;</span></a></li>
	   		</ul>
	    </div>
	    
	    <div id="ExplnBox_TT">
	    <textarea readonly id="LongTextBox_TT" rows = '4' cols = "50">Help is here </textarea>
	    </div>
		    
		<!--  dont put tables inside a div, they stop "working", elements aren't functional anymore -->
	    <table>
			<tbody>
				<tr>
					<td align="center">
						<div id="toneChanges">
							<table border="0">
								<tbody>
									<tr>
										<th colspan='2'>Sine Wave (tone) Parameters</th>
										<input type="button" id="start-stop-button" value="Start Tone" data-toggle="tooltip" data-placement="top" title="turn on speaker to hear sine wave you created">
									</tr>	
									<tr>		
										<td align="left">
											Frequency: <span id="currFreqLabel">000</span> Hz
										</td>
										<td align="left">
											Amplitude: <span id="currAmpLabel">000</span>
										</td>
										<td align="left">
											Phase: <span id="currPhaseLabel">000</span> degrees
										</td>						
									</tr>
									<tr>
										<!-- vertical orientation not supported the same way by all browsers and likely to change, keep horiz, use bootstrap for tooltips  -->
										<td>
											<input id="in-range-freq" type="range" step="1" value="2000" min="100" max="10000" data-placement="left" data-toggle="tooltip" title="click on slider and use arrows for greater precision">
										</td>
										<td>
											<input id="in-range-amp" type="range" step="1" value="10" min="1" max="100" data-toggle="tooltip" data-placement="left" title="click on slider and use arrows for greater precision">
										</td>
										<td>
											<input id="in-range-phase" type="range" step="1" value="0" min="0" max="360" data-toggle="tooltip" data-placement="left" title="click on slider and use arrows for greater precision">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

	 	<div id="overlapExpansionLines">
	 		<!--  want to overlap the top graph with expansion lines below it -->
	 		<!--  canvas used for chart js need the size defined one level up at div -->
		 	<div id = "sinePlotLongWrapper">
		 		<!-- Needs to be a bit bigger since it has the title -->
		 		<canvas id="sine_plotsLong">
		 		Your Browser does not support canvas tag, you are missing graph capability
		 		</canvas>
		 	</div>
	 		<canvas id="timeExpand">
	 		Your Browser does not support canvas tag, you are missing graph capability
	 		</canvas>
	 	</div>
	 	<div id = "sinePlotsShortWrapper">
	 		<canvas id="sine_plotsShort">
	 		Your Browser does not support canvas tag, you are missing graph capability
	 		</canvas>
	 	</div>
 	</div>
	
	<!-- Put up a brief "HOW TO use this page" modal window -->
	<div class="modal fade" id="admodal" role="dialog" tabindex="-1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<h1>What to do here</h1>
					<ul>
					<li>Listen to a sine wave tone by hitting Start Tone button</li>
					<li>Compare to a musical instrument playing a note by clicking on rainbow clef pull down menu  
				    <img src="{% static 'images/MusicMenu.svg' %}" height = "60" width="30" alt = "Rainbow musical clef"> </li>					
					</ul>
				</div>
				<div class="modal-footer">
					<!--  when clicked, this will dismiss the modal -->
					<button class="btn btn-success" data-dismiss="modal" type="button">Got it!</button><br class="visible-xs">	
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<br>
	<br>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.73/Tone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
        
    <!--  have to put another jquery library ref here, not sure why, its in the base -->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
	<script>
		window.jQuery || document.write('<script src="{% static 'js/jquery-360min.js' %}"><\/script>')
	</script>
	
	<!-- To be able to add modal window for robot check -->
	<script src="{% static 'js/jquery-bootstrap-modal-forms-min.js' %}" crossorigin="anonymous"></script>
	
	<!-- Custom JS for this page -->
	<script src="{% static 'js/IntMathUtils.js' %}" crossorigin="anonymous"></script>	    
    <script src="{% static 'js/ToneTrig.js' %}" crossorigin="anonymous"></script>	
    <script src="{% static 'js/RobotChk.js' %}" crossorigin="anonymous"></script>	
    
    <script type="text/javascript">
    $.getScript("../../../static/js/jquery-bootstrap-modal-forms-min.js", function() {
    	// we also have to wait until we are SURE the proper file has loaded before doing all this
		// This has to be here for django to render properly, cannot be in js file
		{% if botChkTstNeed %}
			$('#InstrumentDropDownMenu').modalForm({
				//we put a next param on the url to indicate we want to come back to this spot when modal window done
		        formURL: "{% url 'int_math:bot_check' %}?next={% url 'int_math:ToneTrig' %}"
		    });
		{% endif %}
	});
	</script>
</div>
{% endblock %}

