{% extends 'int_math/basePage.html' %}
{% load static %} <!--  another difference from django 2 to 3.1 -->

{%block title_block %}
	{{ page_tab_header }}
{% endblock %}
 
{%block head_block %}
    <link href="{%static 'css/ToneTrig.css' %}" rel="stylesheet">
{% endblock %}
{% block artist_credit %}
	<a href="https://iconscout.com/icons/volume" class="text-underline font-size-sm" target="_blank">Volume</a> by <a href="https://iconscout.com/contributors/eva-icons" class="text-underline font-size-sm" target="_blank">Akveo</a>
	<br>
	<a href="https://iconscout.com/icons/volume-off" class="text-underline font-size-sm" target="_blank">Volume Off</a> by <a href="https://iconscout.com/contributors/eva-icons" class="text-underline font-size-sm">Akveo</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>
{% endblock %}	
   
{% block body_block %}

	<div id="ToneTrigBlock">
	
	    <h1 id = "musicalActivity">Synthesized Tone</h1>
	    
	    <!-- default startup, will change as user loads musician notes-->
	    <p class="AdvTopic_ToDo"> TRY THIS:  Turn on your speaker.  Hit Start Tone and adjust Frequency and notice the pitch goes up and down.  
	    Adjust Amplitude and notice only the volume changes.  Adjust Phase slowly and note there is no perceived change but if you change it quickly, you can get a popping sound.  
		</p>
	    <p class="AdvTopic_Expln"> EXPLANATION:  Synthesized Tone.  Sine and Cosine functions, when translated to voltage and sent to a speaker are just tones. Pure tones are of one frequency only. 
	    As the amplitude increases, the sound gets louder and as the amplitude decreases, it gets softer.  You can see this in the equation for the tone.
	    Phase only has meaning if you compare it to some reference.  As you adjust phase, that reference is what
	    you heard just a few milliseconds ago.  If you change the phase slowly, the waveform of what you hear and what you just heard are pretty darn close.  Thus, you can't hear slow phase changes. 
	    However, if you change phase very fast, it can sound like pops in the speaker.  
	    This is because when the phase changes quickly, you are comparing current phase with an older version which is way off.
	    This can produce a large discontinuity in the waveform and this sounds like a pop.  
	    When you adjust the frequency slider, you change the pitch and you can move from low bass up to the midrange of human hearing at 10,000 Hz.  
	    Musical notes as played on various instruments, are made up of a pitch frequency, plus harmonics and overtones that give the instrument its rich sound.  
	    We will look at this more on the next page.

	    </p>
    
	    <div id="menuExplnTones">
		    
			<!--  dont put tables inside a div, they stop "working", elements aren't functional anymore -->
			<div id="toneChanges">
				<table border="0" width = "600">  
					<tbody>
						<tr>
							<td colspan='4' align="center" style ="font-size:20px"><b>Sine Wave (tone) Parameters</b></td>
						</tr>	
						<tr>
							<td colspan="4" align="center">
 	 							<!--  this button plays the tone and is visible all the time -->
 	 							<img id="toneStartButton" src = {% static 'images/volume-off.svg' %} alt="Volume is currently off" data-toggle="tooltip" data-placement="top" title="turn on speaker and click to hear sine wave you created"">
							</td>
						</tr>
						<tr>		
							<td align="left" style="width: 27%;">
								<b>Max Freq on slider</b> 
							</td>
							<td align="left">
								<b>Frequency:</b> <span id="currFreqLabel">2000</span> Hz 
							</td>
							<td align="left">
								<b>Amplitude:</b> <span id="currAmpLabel">000</span>
							</td>
							<td align="left">
								<b>Phase:</b> <span id="currPhaseLabel">000</span> degrees
							</td>						
						</tr>
						<tr>
							<!-- vertical orientation not supported the same way by all browsers and likely to change, keep horiz, use bootstrap for tooltips  -->
							<td style="width: 27%;">
								<input id="freqMax" type = 'number' size = 3 min="1000" max="10000" value = "2000" data-placement="left" data-toggle="tooltip" title="Choose max freq for slider to the right (1000 Hz -10000 Hz)"> Hz
							</td>
							<td>
								<input id="in-range-freq" type="range" step="1" value="2000" min="100" max="2000" data-placement="left" data-toggle="tooltip" title="click on slider and use arrows for greater precision, max frequency set by box to left">
							</td>
							<td>
								<input id="in-range-amp" type="range" step="1" value="10" min="1" max="100" data-toggle="tooltip" data-placement="left" title="click on slider and use arrows for greater precision">
							</td>
							<td>
								<input id="in-range-phase" type="range" step="1" value="0" min="0" max="360" data-toggle="tooltip" data-placement="left" title="click on slider and use arrows for greater precision">
							</td>
						</tr>

					</tbody>
				</table>
			</div>
	
		 	<!-- The plots and explanation lines inbetween the plots, the div is a way to set height and width of canvases,  -->
			<!-- See URL for explanation of how to handle chart.js in a canvas sizing:  https://www.chartjs.org/docs/latest/configuration/responsive.html#important-note -->
	 		<!--  canvas used for chart js need the size defined one level up at div -->
	 		<div id="wrap_sin_plotsLong">
			 	<canvas id="sine_plotsLong">
			 		Your Browser does not support canvas tag, you are missing graph capability
			 	</canvas>
		 	</div>
		 	<!-- this is not chart.js canvas, treat normally for sizing -->
	 		<canvas id="timeExpand" >
	 		Your Browser does not support canvas tag, you are missing graph capability
	 		</canvas>
	 		<div id="wrap_sin_plotsShort">
		 		<canvas id="sine_plotsShort">
		 		Your Browser does not support canvas tag, you are missing graph capability
		 		</canvas>
	 		</div>
			
			<br>
			<br>
		</div>
	</div>
	
{% endblock %}           

{% block unique_js_block %}
                    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<!-- The feather.replace() causes all data-feather to be replaced with proper svg icon -->
	<script>feather.replace()</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.73/Tone.js"></script>
    <!-- Get the correct cdn chart.js from https://cdnjs.com/libraries/Chart.js (see stackoverflow, use umd version)-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js" integrity="sha512-CMF3tQtjOoOJoOKlsS7/2loJlkyctwzSoDK/S40iAB+MqWSaf50uObGQSk5Ny/gfRhRCjNLvoxuCvdnERU4WGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
	<!-- Custom JS for this page -->
	<script src="{% static 'js/autoDemo.js' %}" crossorigin="anonymous"></script>	    
    <script src="{% static 'js/ToneTrig.js' %}" crossorigin="anonymous"></script>	

{% endblock %}

