.regUser {
	color: Tomato;
}
/* this is an override */
.jumbotron {
	background-color: lightyellow;	
}
/* center up the images*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* border + image + words , all within this div class*/
.angelKitties {
  border: 3px solid #4CAF50;
  padding: 5px;
  overflow: auto;
  margin-top: 1em;
  padding: 1em;
  font-size: 2.5em;
  color: yellow;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* the following catTalk and hover is for a popup hover banner */
p.catTalk {
  display: none;
  background-color: yellow;
  padding: 20px;
  color: black;
  text-shadow: 2px 2px 5px red;
}

div:hover p {
  display: block;
}

/*this tooltip stuff didn't work if i only used class=, I had to up the specificity to id but I didn't have to put
in the head of base.html */

div#tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

div#tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1
}

div#tooltip:hover .tooltiptext {
  visibility: visible;
}

/* turn off the submit button until user answers math question, to prevent race condition with form */
#turnIn3{
	display: none
}

/* want to send back django variable but not have it visible */
#sendServerLoc{
	display: none;
}


#headerAndCtl {
	position: relative;
}
/* do NOT put a space between number and word "px" */
#menuExplnTones {
	position: relative;
	top: 30px;
	left: 0px;
	height: 700px;
}
/*****************************************************************/
/* This handles the header and "play music again" button that comes and goes as needed */
#allowNotePlay {
	position: absolute;
	display: none;
	left: 0px;
}
#musicalActivity {
	position: absolute;
	border: 0px;
	resize: none;
	left: 350px;
	width: 700px;
	font-weight: bold;
	font-size: 22px;
	}
/*****************************************************************/
/* This is the three side by side controls 1.  treble clef that picks instrument/note 2.  explanation of current activity 3.  tone param changes */
#InstrumentToneMenu {
		  position: absolute;
		  left: 0px;
          width:50px;
          height:100px;
          background-color:white; 
          padding: 0px;
}
/* item 2, explanation of current activity in read only box */ 
#ExplnBox {
		  position: absolute;
          left: 100px;
          background-color:white; 
          margin-left:20px;	
          margin-right:20px;	
}
/* item 3, tone controls */
#toneChanges {
	    position: absolute;
	    left: 500px;
		display: inline-block; 
		border: 1px solid black;"
		float: right;
}
/*****************************************************************/
/* arrange the expansion lines between the two graphs for max understandability */
#overlapExpansionLines{
    position:relative;
    top: 100px;
    height: 250px;
    width: 800px;
}
#sinePlotLongWrapper{
	position: absolute;
	height: 250px;
	width:800px;
}

/* we allow the time expand lines to write on this canvas */
#sine_plotsLong{
    position:absolute; 
    top:0px; 
    left:0px;
    z-index: -1;
}
#timeExpand{
	 position:absolute; 
	 top:230px; 
	 left: 0px;
	 height: 110px;
	 width: 800px;
}
#sinePlotsShortWrapper{
	position: relative;
	top: 155px;
	height: 200px;
	width: 800px;
}
#sine_plotsShort{
	position: absolute;
}

/*****************************************************************/
