/***********************
This is the style sheet for the DynamicTrig1.html page
************************/

/***************************/
/* put a label up and an expln/to do selector input box */
#headerAndCtl_DT1 {
	position: relative;
	top: 0px;
	width: auto;
}

/* text header of page activity*/
#HeaderTrig_DT1 {
	position: absolute;
	border: 0px;
	left: 400px;
	font-weight: bold;
	font-size: 32px;
	resize: none;
}

/************Params that describe and control activity***************/

/* this is the parent for a series of controls/labels */
#CircleValues_DT1 {
	position: relative;
	left: 0px;
	top: 100px;
}
/* these are the children of CircleValues_DT1 */
/* these button z-index must outrank the todo/expln box so it can be active */
#ClearOldFreq_DT1{
	position: absolute;
	left: 0px;
	top: 60px;
	z-index: 20;
}
#StartOver_DT1{
	position: absolute;
	left: 0px;
	top: 90px;
	z-index: 20;
	background-color: pink;
	visibility: hidden;
}
#time_DT1{
	position: absolute;
	left: 100px;
	top: 40px;
}
#timeVal_DT1{
	position: absolute;
	left: 100px;
	top: 60px;	
}
#thetaLabel_DT1 {
	position: absolute;
	left: 200px;
	top: 40px;
}
#theta_DT1 {
	position: absolute;
	left: 200px;
	top: 60px;
}
#LastFrequenciesLabel_DT1{
	position: absolute;
	left: 300px;
	top: 40px;
}
#LastFrequencies_DT1{
	position: absolute;
	left: 300px;
	top: 60px;
}
#UserNotices_DT1{
	position: absolute;
	left: 0px;
	top: 120px;
}
#ExplnFreqMark{
	color: lime
}

/***************************/
/* create canvas for expandable unit circle, position = relative lets the footer float to bottom for all parent elements.
We use negative value for top since we want some overlap*/
#UnitCircleAndGraphCanvas{
	position: relative;
	left: 0px;
	top: 100px;
}
#AmpSinCosCircle_DT1{
	 position: absolute;
	 top: 50px;
	 left: 0px;  
	 margin-left: 0 px;
	 padding-left: 0 px;
	 margin-right: 0 px;
	 padding-right: 0 px;
}
/* this is the graph off to the right that needs to be on separate canvas since animations need to 
clear and redraw at different times than the other canvas  We did position as absolute so if window too small
it won't shove this to below the unit circle-- off to side prods user to expand screen */
#FreqChange_DT1{
	 position: absolute;
	 top: -50px;
	 left: 450px;
	 margin-left: 0 px;
	 padding-left: 0 px;
	 margin-right: 0 px;
	 padding-right: 0 px;
}
/* add labels for the graphs, will be updated on dynamic trig page 2 */
#sinEqtnLabelHI_DT1{
	position: absolute;
	top: -30px;
	left: 480px;
	font-size: 20px;
	font-weight: bold;
}
#sinEqtnLabelLO_DT1{
	position: absolute;
	top: 290px;
	left: 480px;
	font-size: 20px;
	font-weight: bold;
}

/*************Dynamic Help**************/
#FirstHelp_DT1 {
	position: relative;
	width: 200px;
	border: 1px solid black;
	padding: 5px;
	background-color: pink;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	left: 110px;
	top: 430px;
	z-index: 10;
	visibility: visible;
	animation-name: showFirstBlinkyHelp;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	/* start out with nothing then draw attention to it*/
	animation-delay: 1s;
}


/* grow the box and move so lettering and position doesn't change  */
@keyframes showFirstBlinkyHelp {
	0%		{border: 1px solid black;}
	50%		{border: 10px solid black; width: 218px; left: 100px; top: 420px;} 
	100%	{border: 1px solid black; width: 200px; left: 110px; top: 430px;}
}

/*********************Tutorial demo type help******************/
/* canvas */
#funTutorial_DT1 {
	 position: absolute;
	 top: 50px;
	 left: 0px;
	 margin-left: 0 px;
	 padding-left: 0 px;
	 margin-right: 0 px;
	 padding-right: 0 px;
	 z-index: -1;
}
/****************All pages, demo image***************************/
/* its there, but if the page wants it, must turn it on */
#startAutoDemo{
	position: absolute;
	height: 100px;
	left: 0px;
	top: 20px;
	visibility: visible;
}
#autoDemoCtls{
	border: 2px solid cyan;
	border-radius: 10px;
	visibility: hidden;
	width: 380px;
	margin: 7px 7px 7px 7px;
}
#autoDemoCtls h1{
	text-align: center;
	font-size: 18px;
}