/*********************** 
This is the style sheet for the DynamicTrig1.html page
************************/
/* create global var for this html */
:root{
	--CANVAS_TOP: 50px;
	--GRAPH_LABEL_TOP: 30px;
}
/***************************/
/* put a label up and an expln/to do selector input box */
#headerAndCtl_DT1 h1{
	position: relative;
	top: 0px;
	left: 150px;
	width: auto;
}

/* text header of page activity*/
#HeaderTrig_DT1 {
	position: absolute;
	border: 0px;
	left: 300px;
	font-weight: bold;
	font-size: 32px;
	resize: none;
}

/************Params that describe and control activity***************/

/* this is the parent for a series of controls/labels */
#CircleValues_DT1 {
	position: relative;
	left: 0px;
	top: var(--CANVAS_TOP);
}
/* these are the children of CircleValues_DT1 */
/* these button z-index must outrank the todo/expln box so it can be active */
#ClearOldFreq_DT1{
	position: absolute;
	left: 0px;
	top: 60px;
	z-index: 20;
}
#StartOver_DT1{
	position: absolute;
	left: 0px;
	top: 90px;
	z-index: 20;
	background-color: pink;
	visibility: hidden;
}
#time_DT1{
	position: absolute;
	left: 100px;
	top: 40px;
}
#timeVal_DT1{
	position: absolute;
	left: 100px;
	top: 60px;	
}
#thetaLabel_DT1 {
	position: absolute;
	left: 200px;
	top: 40px;
}
#theta_DT1 {
	position: absolute;
	left: 200px;
	top: 60px;
}
#LastFrequenciesLabel_DT1{
	position: absolute;
	left: 300px;
	top: 40px;
}
#LastFrequencies_DT1{
	position: absolute;
	left: 300px;
	top: 60px;
}
#UserNotices_DT1{
	position: absolute;
	left: 0px;
	top: 120px;
}
#ExplnFreqMark{
	color: lime
}

/***************************/
/* create canvas for expandable unit circle, position = relative lets the footer float to bottom for all parent elements.
We use negative value for top since we want some overlap*/
#UnitCircleAndGraphCanvas{
	position: relative;
	left: 0px;
	top: var(--CANVAS_TOP);
}
#AmpSinCosCircle_DT1{
	 position: absolute;
	 top: 50px;  
	 left: 0px;  
	 margin-left: 0 px;
	 padding-left: 0 px;
	 margin-right: 0 px;
	 padding-right: 0 px;
}
/* this is the graph off to the right that needs to be on separate canvas since animations need to 
clear and redraw at different times than the other canvas  We did position as absolute so if window too small
it won't shove this to below the unit circle-- off to side prods user to expand screen */
#FreqChange_DT1{
	 position: absolute;
	 top: 20px;
	 left: 450px;
	 margin-left: 0 px;
	 padding-left: 0 px;
	 margin-right: 0 px;
	 padding-right: 0 px;
}
/* add labels for the graphs, will be updated on dynamic trig page 2 */
#sinEqtnLabelHI_DT1{
	position: absolute;
	top: var(--GRAPH_LABEL_TOP);
	left: 480px;
	font-size: 20px;
	font-weight: bold;
}
#sinEqtnLabelLO_DT1{
	position: absolute;
	top: calc(var(--GRAPH_LABEL_TOP) + 330px);
	left: 480px;
	font-size: 20px;
	font-weight: bold;
}

/*************Dynamic Help**************/
#FirstHelp_DT1.newbieMode {
	display: none;
}
#FirstHelp_DT1.expertMode {
	position: relative;
	width: 200px;
	/*	unlike border, outline doesn't consume space */
	outline: 1px solid black;
	padding: 5px;
	background-color: pink;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	left: 110px;
	top: -280px; 
	z-index: 10;
	visibility: visible;
	animation-name: showFirstBlinkyHelp;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	/* start out with nothing then draw attention to it*/
	animation-delay: 1s;
}


/* grow the box and move so lettering and position doesn't change  */
@keyframes showFirstBlinkyHelp {
	0%		{outline: 1px solid black;}
	50%		{outline: 10px solid black;  } 
	100%	{outline: 1px solid black; }
}

/*********************Tutorial demo type help******************/
#startAutoDemo{
	visibility: visible;
}

/* canvas, needs to sit exactly on ampSinCosCircle_DT1 */
#funTutorial_DT1 {
	 position: absolute;
	 top: 50px; 
	 left: 0px;
	 margin-left: 0 px;
	 padding-left: 0 px;
	 margin-right: 0 px;
	 padding-right: 0 px;
	 z-index: -1;
}

/**********************define space for footer to float at bottom***************/
#DynamicTrig1Block {
	/* define space for rest of page makes footer float to bottom */
	height: 700px;
}	