/***********************
This is the style sheet for the DynamicTrig2.html page
************************/

/***************************/
/* put a label up and an expln/to do selector input box */
#headerAndCtl_DT2 {
	position: relative;
	top: 0px;
	width: auto;
}
#ToDo_or_expln_DT2 {
	position: absolute;
	left: 10px;
}
/* text header of page activity*/
#HeaderTrig_DT2 {
	position: absolute;
	border: 0px;
	left: 400px;
	font-weight: bold;
	font-size: 32px;
	resize: none;
}
/***************************/
/* item 2, explanation of current activity in read only box,  Need this box to be above the canvas so sidebars active */ 
#HelpBox_DT2 {
	position: relative;
	left: 50px;
	top: 30px;
}
#LongTextBox_DT2 {
		  position: absolute;
          left: 0px;
          top: 0px;
          background-color:white; 
          z-index: 10;
          resize: none;
}
/************Params that describe and control activity***************/

/* this is the parent for a series of controls/labels */
#CircleValues_DT2 {
	position: relative;
	left: 0px;
	/*top: 100; */
	top: 100px;
}
/* these are the children of CircleValues_DT2 */
/* start button z-index must outrank the todo/expln box so it can be active */

#time_DT2{
	position: absolute;
	left: px;
	top: 40px;
}
#timeVal_DT2{
	position: absolute;
	left: 0px;
	top: 60px;	
}
#cyclesLabel_DT2 {
	position: absolute;
	left: 100px;
	top: 40px;
}
#cycles_DT2 {
	position: absolute;
	left: 100px;
	top: 60px;
}
#periodLabel_DT2{
	position: absolute;
	left: 200px;
	top: 40px;
}
#period_DT2{
	position: absolute;
	left: 200px;
	top: 60px;
}
#UserNotices_DT2{
	position: absolute;
	left: 200px;
	top: 90px;
}
/* arrange the freq input labels, slider, curr val and associated go button*/
#FreqLabel_DT2{
	position: absolute;
	left: 0px;
	top: 90px;
}
#currFreqVal_DT2{
	position: absolute;
	left: 100px;
	top: 90px;
}
/* inputs must have max z index so they are user inputable, else they fall behind invisible canvas */
#FreqSlider_DT2{
	position: absolute;
	left: 0px;
	top: 110px;
	z-index: 20;
}
#GoFreq_DT2{
	position: absolute;
	left: 150px;
	top: 110px;
	z-index: 20;
}
/* arrow from explanation to freq circle indicator */
#ExplnFreqMark_DT2{
	color: lime
}

/***************************/
/* create canvas for expandable unit circle, position = relative lets the footer float to bottom for all parent elements.
We use negative value for top since we want some overlap*/
#UnitCircleAndGraphCanvas_DT2{
	position: relative;
	left: 0px;
	top: 100px;
}
#AmpSinCosCircle_DT2{
	 position: absolute;
	 top: 50px;
	 left: 0px;  
	 margin-left: 0 px;
	 padding-left: 0 px;
	 margin-right: 0 px;
	 padding-right: 0 px;
}
/* this is the graph off to the right that needs to be on separate canvas since animations need to 
clear and redraw at different times than the other canvas  We did position as absolute so if window too small
it won't shove this to below the unit circle-- off to side prods user to expand screen */
#FreqChange_DT2{
	 position: absolute;
	 top: -50px;
	 left: 450px;
	 margin-left: 0 px;
	 padding-left: 0 px;
	 margin-right: 0 px;
	 padding-right: 0 px;
}
/*************Dynamic Help**************/
#FirstHelp_DT2 {
	position: relative;
	width: 200px;
	border: 1px solid black;
	padding: 10px;
	background-color: pink;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	left: 110px;
	top: 430px;
	z-index: 10;
	visibility: hidden;
}
