/***********************
This is the style sheet for the DynamicTrig2.html page
************************/

/***************************/
/* put a label up and an expln/to do selector input box */
#headerAndCtl_DT2 {
	position: relative;
	top: 0px;
	width: auto;
}
/* text header of page activity*/
#HeaderTrig_DT2 {
	position: absolute;
	left: 350px;
	font-weight: bold;
	font-size: 32px;
	resize: none;
}
.EqtnTable_DT2{
	position: absolute;
	top: 100px;
}
.Eqtn_DT2{
	font-size: 25px;
}
.Eqtn2_DT2{
	font-size: 15px;
}
.N_eqtn{
	color: red;
}
.ThetaUC_eqtn{
	color: red;	
}
.currFreqVal_DT2{
	color: red;	
}
.timeVal_DT2{
	color: red;	
}
/************Params that describe and control activity***************/

/* this is the parent for a series of controls/labels */
#CircleValues_DT2 {
	position: relative;
	left: 0px;
	top: 300px;
}
/* arrange the freq input labels, slider, curr val*/
#FreqLabel_DT2{
	position: absolute;
	left: 0px;
	top: 10px;
}
#currFreqValSlide_DT2{
	position: absolute;
	left: 100px;
	top: 10px;
	color: red;
}
/* inputs must have max z index so they are user inputable, else they fall behind invisible canvas */
#FreqSlider_DT2{
	position: absolute;
	left: 0px;
	top: 30px;
	z-index: 20;
}
#GoFreq_DT2{
	position: absolute;
	left: 10px;
	top: 60px;
	z-index: 20;
	width: 50px;
	height: 30px;
	font-weight: bold;
}
/* these are the children of CircleValues_DT2 */
/* start button z-index must outrank the todo/expln box so it can be active */

#UserNotices_DT2{
	position: absolute;
	left: 300px;
	top: 250px;
	width: 150px;
	color: DarkOrchid;
}

/***************************/
/* create canvas for expandable unit circle, position = relative lets the footer float to bottom for all parent elements.
We use negative value for top since we want some overlap*/
#UnitCircleAndGraphCanvas_DT2{
	position: relative;
	left: 0px;
	top: 100px;
}
#AmpSinCosCircle_DT2{
	 position: absolute;
	 top: 50px;
	 left: 0px;  
	 margin-left: 0 px;
	 padding-left: 0 px;
	 margin-right: 0 px;
	 padding-right: 0 px;
}
/* this is the graph off to the right that needs to be on separate canvas since animations need to 
clear and redraw at different times than the other canvas  We did position as absolute so if window too small
it won't shove this to below the unit circle-- off to side prods user to expand screen */
#FreqChange_DT2{
	 position: absolute;
	 top: -50px;
	 left: 450px;
	 margin-left: 0 px;
	 padding-left: 0 px;
	 margin-right: 0 px;
	 padding-right: 0 px;
}
/* arrange label for two graphs*/
/* arrange equation for chosen sine wave to be right over the graph */
#sinEqtnLabelHI_DT2{
	position: absolute;
	top: -30px;
	left: 480px;
	font-size: 20px;
	font-weight: bold;
}
/* if freq too high, tell user we are removing samples for clarity, place between the graphs */
#SubSampleNotice_DT2{
	position: absolute;
	top: 250px;
	left: 700px; 
	width: 250px;
	color: DarkOrchid;
}
#sinEqtnLabelLO_DT2{
	position: absolute;
	top: 290px;
	left: 480px;
	font-size: 20px;
	font-weight: bold;
}

/*************Dynamic Help **************/
#FirstHelp_DT2 {
	position: relative;
	width: 200px;
	border: 1px solid black;
	padding: 10px;
	background-color: pink;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	left: 110px;
	top: 430px;
	z-index: 10;
	visibility: hidden;
}

/**********************define space for footer to float at bottom***************/
#DynamicTrig2Block {
	/* define space for rest of page makes footer float to bottom */
	height: 550px;
}	