/***********************
This is the style sheet for the entire website and all common items
************************/


/****************All pages, subtopic section on left side***************************/
/* change text/color/font for subtopics header off to the side */
p#headerForSubtopics {
	color: blue;
	font-size: 30px;
}

/*****************All pages, left section legal notices********************************/
/*Had problem with android tablets where sidebar parent was changing width as autodemo was selected or not.
  This had effect of sometimes obscuring content on page, See AI */
.sidebar {
	width: 240px;  /* good width for all but mobile devices, overrides bootstrap class */
}
#sidebarMenu{
	position: relative;
}
#LegalNotice_Consent {
	position: absolute;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
	border-style: double;
	padding: 2px;
}

#CookieChoice{
	position: absolute
	 /* This puts buttons at the bottom of box */
}
/* lets user know what choice they have made (default is no) */
.cookieIndicator {
	position: absolute;
	right: 5px;
	bottom: 0px;
	height: 25px;
	width: 25px;
}
#yesCookies{
	position: absolute;
	top: -20px;
	left: 20px;
	background-color: green; 
  	border: none;
  	color: white;
    text-align: center;
}
#noCookies{
	position: absolute;
	top: -20px;
	left: 70px;
	background-color: red; 
  	border: none;
  	color: white;
    text-align: center;
}
/*******************All pages, advanced topic "modal" window ***********************/
/*Advanced Topics "modal-that-is-really-a-dialog" window param cuz i wanna use bootstrap */
:root{
	--ADV_TOPIC_WINDOW_HEIGHT: 350px;  
	--ADV_TOPIC_WINDOW_WIDTH: 500px; 
}
/* how to make bootstraps modal windows nonmodal (or modeless) */
.modal-open  /* need this to keep the scroll bars on underlying webpage when modal is up */
{
	/*here is where the padding-right 17px comes from if i want to eliminate... */
	/* this class gets put at the body level (tippy top) when modal opens) */
    overflow: scroll; 
}
a:hover {
    text-decoration: none;
    color: #1565C0;  /* darker blue */
}
#AdvancedTopics {
	/* top,left,bottom and right will position window near top, centered */
    top:10%;
    left:50%;
    bottom:auto;
    right:auto;
    /* want to squeeze down the space modal consumes to just the window itself so users can still play with site and read modal */
    /* yes, i realize that violates defn of modal but I really should have used jquery ui dialog since bootstrap has nothing similar */
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px !important; /* padding right gets overridden by .modal to 17px, get rid of it anyway*/
    /* scale > 1 keeps window from getting chopped off but does create 'dead' space around window that
    blocks out user from the page interaction.  Need to override bootstrap which sets these to 100%
    blocking out all user interaction with page when window up (cuz i want a dialog,not a modal) */
    height: calc(1.0 * var(--ADV_TOPIC_WINDOW_HEIGHT));  
    width: calc(1.0 * var(--ADV_TOPIC_WINDOW_WIDTH) ); 
    overflow-y: hidden; /* gets rid of scrollbars at the top div level */
}
/* > is used to show parentage required for element */
#AdvancedTopics > .modal-dialog{
	margin: 0px 0px 0px 0px !important;  /* else margins will be huge as default, still get large right margin */
    overflow-y: initial !important;  /* makes scrollbars */
}
#AdvancedTopics > .modal-dialog > .modal-content{
	border-width: 3px;  /*thickerer border around modal window. border-primary class makes it blue */
	/* need to set size so that it won't take up all space vertically when verbiage is long--prefer
	scroll bars on modal-body*/
	height: var(--ADV_TOPIC_WINDOW_HEIGHT);  
    width: var(--ADV_TOPIC_WINDOW_WIDTH); 
}
/* squeeze it all as much as possible, bootstrap will try to expand it */
#AdvancedTopics > .modal-dialog > .modal-content > .modal-header{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}
/* squeeze it all as much as possible, bootstrap will try to expand it */
#AdvancedTopics > .modal-dialog > .modal-content > .modal-footer{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#AdvancedTopics > .modal-dialog > .modal-content > .modal-body{
	background-color: #F0FFFF;  /* pale blue*/
	/* overflow-y makes scrollbars when set fixed height at model content level*/
    overflow-y: auto;
}
#AdvancedTopics > .modal-dialog > .modal-content > .modal-body > fieldset {
    display: none;
}
#AdvancedTopics > .modal-dialog > .modal-content > .modal-body > fieldset.show {
    display: block;
}
#AdvancedTopics > .modal-dialog > .modal-content > .modal-header > .tabs {
	/* margin: top right bottom left */
    margin: 5px 10px 0px 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}
/* make a pretty line under the selected tab or a tab you are hovering over*/
#AdvancedTopics > .modal-dialog > .modal-content > .modal-header > .tabs:hover {
	border-bottom: 2px solid #7FFFD4;  /* aqua green */
}
#AdvancedTopics > .modal-dialog > .modal-content > .modal-header > .tabs.active {
    border-bottom: 2px solid #2196F3;  /* aqua blue */
}
#AdvancedTopics > .modal-dialog > .modal-content > .line {
    background-color: #CFD8DC;  /* light grey */
    height: 1px;
    width: 100%;
}
/* the advanced topic modal window is on baseTrig.html but the text to fill this box is on each html page.
Want it on the html page to help search engines but need to hide that verbiage until user wants it */
p.AdvTopic_Expln {
	display: none !important;  /* dont want space allocated on page */
}
p.AdvTopic_ToDo {
	display: none !important;
}
/* end of modal pages*/


/****************All pages, tool tips***************************/
/*this tooltip stuff didn't work if i only used class=, I had to up the specificity to id  */

div:hover p {
  display: block;
}

div#tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

div#tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1
}

div#tooltip:hover .tooltiptext {
  visibility: visible;
}

/* want to send back django variable but not have it visible, use different server params if local/test or remote server */
#sendServerLoc{
	display: none;
}
/*************all pages, auto demo controls and starting image **********************/
/* its there, but if the page wants it, must turn it on */
#autoDemo{
	position: relative;
}
/* image that says Start Here */
#startAutoDemo{
	position: absolute;
	height: 100px;
	width: 100px;
	left: 0px;  
	top: 10px;   
	/*display: none; */
	opacity: 0;
	z-index: 50;  /* needs to be max value. */
	pointer-events: none; /* Can't click it while invisible */
}

/* in newbie mode, we draw attention to startAutoDemo */
#startAutoDemo.newbieMode {
    margin-left: auto;
    margin-right: auto;
	transform: scale(1.0);
	animation-iteration-count: 3;
	animation-name: autoDemo_newbieMode;
	animation-duration: 2s;
	animation-fill-mode: forwards;
} 
@keyframes autoDemo_newbieMode{
	 0%   {transform: scale(1.0)}
	 50%   {transform: scale(1.5)}
	 100%   {transform: scale(1.0)}
}
/* client has selected auto demo, now give controls to use it */
#autoDemoCtls{
	position: absolute;
	top: 0px;
	left: 0px;
	border: 2px solid cyan;
	border-radius: 10px;
	display: none;
	z-index: 500;  /* needs to be max value */
}

#autoDemoCtls h1{
	text-align: center;
	font-size: 18px;
}
/*This portion is the animation that flashes a big red cursor that says "click here" */
/* when the user starts the autodemo ctrls, the top/left will be set and animation started 
position setting based on where it would have been placed near the play/pause */
img#clickHereCursor {
	position: absolute;
	height: 80px;
	left: -60px;
	top: 25px;	
	display: inline-block;
	visibility: hidden;
	z-index: 50;  /* needs to be max value */
}
/* animation to flash the click here cursor as needed when code adds this class to element */
img#clickHereCursor.userHitPlay {
	animation-delay: 1s;
	animation-name: getUserAttentionToClick;
	animation-duration: 3s;
	animation-iteration-count: 4;
	animation-fill-mode: forwards;
}
/* idea is that it ends with the image gone... */
@keyframes getUserAttentionToClick {
	0%		{visibility: visible;}
	50%		{visibility: hidden;}
	100%	{visibility: hidden;} 
}

/* a spinner animation to show server is busy getting the file */
#spinner{
  visibility: hidden;  
  width: 40px;
  height: 40px;

  border: 2px solid #f3f3f3;
  border-top:3px solid #ff00ff;  /* Barbie pink*/
  border-radius: 100%;

  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}
#spinner.show {
  visibility: visible;
}
/************all pages, header and tables should not "wrap" and break line, expand browser! 
             user needs to know these are big pages with lots of things going on               *****/
h1,h2 { 
	white-space: nowrap; 
}

td { 
	/* keep dynamicTrig2 table from collapsing if screen too small, user should expand screen--there is lots of good stuff to see */
	white-space: nowrap; 
}

/************all pages, footer **************************/

#Site-footer {
	position: relative;
	bottom: -100px; 
	margin-left: auto;
	margin-right: auto;
}

/**************all pages upper navbar *********************************/
#topNavBarHeader {
	background-color: #e3f2fd;
	font-size: 140%;
}


	