/****************Landing page***************************/
/* make parts of header red, parts black, just like the logo */
span#homePageHeader {
	color: red;
}
/* blinking color changing word "fun" on landing page */
span#blinkingColor {
    animation:blinkingColorText 1.2s infinite;
}
@keyframes blinkingColorText{
    0%{     color: red;    }
    49%{    color: purple; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}
/*  center the logo on landing page, have it explode out and fade away */
#logo-home-page {
	display: block;
    margin-left: auto;
    margin-right: auto;
	transform: scale(0.5);
	position: absolute;
	animation-name: logo-fade-away;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	z-index: -1;
}
@keyframes logo-fade-away{
	 0%   {opacity: 1.0; transform: scale(0.8)}
	 50%   {opacity: 1.0; transform: scale(1.2)}
	 100%   {opacity: 0.05; transform: scale(0.8)}
}
/* put the home page verbiage over the logo, invisible at first then fades in after logo "burst" 
   the top is implicitly 0 so that the words would lay on top of logo*/
#upgradeSchedule {
    color: Violet;
}
div.home_expln {
	margin: 10%;
    font-weight: bold;
    color: #000000;
    position: absolute;
    font-size: 18px;
    opacity: 0.0;
    animation-name: expln_fade_in;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
@keyframes expln_fade_in{
	 0%  {opacity: 0.0;}
	 100%   {opacity: 1.0;}
}
/*****************Auto demo controls on****************************/
/* this image comes from basePage and is place before index.html so need absolute positioning */
#startAutoDemo{
	top: 150px;
	visibility: visible;	
	display: block;
	opacity: 0.0;
    animation-name: expln_fade_in;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
#autoDemoCtls{
	top: 170px;
}

/*******************expert/newbie selection ******************************/
:root{
}
#selectNewbieOrExpert{
	position: absolute;
	left: 250px;
	opacity: 0.0;
    animation-name: expln_fade_in;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
fieldset {
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
legend {
    display:flex;
    justify-content:space-between;
    width: 100%; 
    position: relative;
    color: blue;
}
legend div {
    background-color: white;
    margin-left:0.5em;
    margin-right:0.5em;
}
legend div.line {
    flex: 1 1 auto;
    background-color: transparent;
}
legend div.line:before {
    position: absolute;
    z-index: -1;  /*Needed to put the line behind the words*/
    content: '';
    left: 0px;
    right: 0px;
    top: 50%;
    border-top: 1px solid black;
}
#newbieMode #expertMode {
	z-index: 10;  /* ensure user can input to radio buttons */
}
/***************layout of whole page *******************************************/
#LandingMainBody{
	/* define space for rest of page makes footer float to bottom */
	height: 575px;
}		    
