/***********************
This is the style sheet for MusicNotesTrig.html
************************/
/* create global var for this html */
:root{
	--LEFT_EDGE_CONTROLS: 130px;
	--LEFT_EDGE_PLOT: 52px;  /*dictates position of periodicity boxes left X position*/
	--TOP_EDGE_PLOT: 33px;  /*dictates position of periodicity boxes left Y position*/
	--WIDTH_466HZ: 158px;  /* the width in pixels of 2.15ms */
	--HEIGHT_TONE_PLOT: 205px;  /* sets height of periodicity boxes  and location of text*/
	--HEIGHT_HEADER: 40px;
	--WIDTH_MUSIC_NOTE_CTL: 250px;
	--HEIGHT_MUSIC_NOTE_CTL: 150px;
	--HEIGHT_GRAPH: 300px;  /* sets canvas for chart */
	--HEIGHT_PERIOD_EXPLN: 110px;
}

/* make sliders a fixed shorter length */
input[type="range"] {
  width:80px;
}
/*****************************************************************/
#headerAndCtl_TT {
	position: relative;
	margin: 10px;
	height: var(--HEIGHT_HEADER);
	left: -30px;
}
/* this is a header of current activity and goes within headerAndCtl_TT */
#musicalActivity {
	position: absolute;
	text-align: left;
	top: 0px;
	left: 150px;
	border: 0px;
	resize: none;
	font-weight: bold;
	font-size: 32px;
	}
/*****************************************************************/
/* do NOT put a space between number and word "px" */
/* This is parent of the two control boxes */
/* This is the side by side controls 1. Music note 2.  Tone notes that fits under parent MusicNotesControl*/
#MusicNotesToneControl {
	position: relative;
	left: var(--LEFT_EDGE_CONTROLS);   /* to get out of way of START HERE */
	height: var(--HEIGHT_MUSIC_NOTE_CTL);
}

/* item 1, make border color match graph color of musical note amplitude*/
#musicNotes {
	    position: absolute;
		display: inline-block; 
		width: var(--WIDTH_MUSIC_NOTE_CTL);
		padding: 5px;
		border: 2px solid rgb(255,165,0);
		text-align: center;
}

/* item 2, make border color match graph color of tone*/
#toneChanges {
	    position: absolute;
	    left: calc(40px + var(--WIDTH_MUSIC_NOTE_CTL));
		display: inline-block; 
		padding: 5px;
		border: 2px solid rgb(75, 192, 192);
		text-align: center;
}


/*****************************************************************/
/* this chunk includes graph and the canvas below that shows periodicity */
#GraphPlusPeriodMarkers{
    position:relative;
}
/* plot out the waveforms mp3 and tone */
#sinePlotLongWrapper{
	position: absolute;
	height: var(--HEIGHT_GRAPH);
	width:800px;
}
/* draw diagrams below graphs to show relationships */
#periodicityIndicator{
	 position:absolute; 
	 left: 0px;
	 top: calc(var(--HEIGHT_GRAPH)); 
	 height: var(--HEIGHT_PERIOD_EXPLN);
	 width: 800px;
}
/* checkerbox to show periodicity**/
.Period_Tone {
	position: absolute;
	top: var(--TOP_EDGE_PLOT);
	width: var(--WIDTH_466HZ);
	height: var(--HEIGHT_TONE_PLOT);
	border-style: solid;
	border-width: 1px;
}
.First_Period{
	left: var(--LEFT_EDGE_PLOT);
	border-color: red;
	visibility: hidden;
}
.Second_Period{
	left: calc(var(--LEFT_EDGE_PLOT) + var(--WIDTH_466HZ));
	border-color: blue;	
	visibility: hidden;
}
.Third_Period{
	left: calc(var(--LEFT_EDGE_PLOT) + 2 * var(--WIDTH_466HZ));
	border-color: red;
	visibility: hidden;
}
.Fourth_Period{
	left: calc(var(--LEFT_EDGE_PLOT) + 3 * var(--WIDTH_466HZ));
	border-color: blue;
	visibility: hidden;
}
#Period_Text1{
	position: absolute;
	left: calc(var(--LEFT_EDGE_PLOT) + 50px);
	top: calc(var(--TOP_EDGE_PLOT) + var(--HEIGHT_TONE_PLOT) + 30px);
	color: red;
}
#Period_Text2{
	position: absolute;
	left: calc(var(--LEFT_EDGE_PLOT) + var(--WIDTH_466HZ) + 50px);
	top: calc(var(--TOP_EDGE_PLOT) + var(--HEIGHT_TONE_PLOT) + 40px);
	color: blue;
}
/* we allow the time expand lines to write on this canvas */
#sine_plotsLong{
    position:absolute; 
    top:0px; 
    left:0px;
    z-index: -1;
}
/*****************************************************************/

/**********************define space for footer to float at bottom***************/
#SineCosBlock {
	/* define space for rest of page makes footer float to bottom */
	height: 550px;
}	
