/********************************
Style sheet (.css) for the musical intro to sine wave page MusicSinIntro.html
*********************************/
/* create global var for this css which will be pulled in by associated js */
:root{
	--HIGHEST_Y: 206px;
	--LOWEST_X: 200px;
	--DELTA_Y: 20px;  /* half a note */
	--DELTA_X: 80px;
	--OFF_TO_SIDE_X: 40px;
	--OFF_TO_SIDE_Y: 10px;
	--HEADER_LOC: 130px;
}
#MusicIntroHeaders {
	margin: 0;
	position: relative;
	top: 20px;
	left: calc(100px + var(--HEADER_LOC));
}
#bigIntro{
	position: absolute;
	top: 0px; 
}
#bigIntroSub{
	position: absolute;
	top: 50px;
	font-size: 20px;
}
#TrumpetMusicalScale{
	position: relative;
	top: calc(var(--HEADER_LOC) + 20px);
	width: auto;
}
/* Initial instructions for user with animation */
#initialInstrMusicTrigIntro.newbieMode{
	display: none;
}
#initialInstrMusicTrigIntro.expertMode{
	position: absolute;
	top: 50px;
	left: 10px;
	background-color: gold;
	width: 160px;
	height: 160px;
	border: 5px solid orange;
	border-radius: 50%;
	padding: 30px;
	margin: 20px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	z-index: 15;  /* want this behind clef, in front of music */
	/* animate this so it moves, hovers then moves on out */
	animation-name: initMusicTrigInstr;
	animation-duration: 6s;
	/* start out with nothing then draw attention to it*/
	animation-delay: 1s;
	visibility: hidden;
}
/*instructions come from behind staff, sit in middle for a few sec, then flow off page */
@keyframes initMusicTrigInstr {
	0%		{left: 0px; top: -30px; visibility: visible;}
	15%		{left: 300px; top: -30px;}
	/* here we hold for awhile */
	80%     {left: 300px; top: -30px;}
	100%	{left: 1200px; top: -30px; visibility: hidden;} /* go off page and die */
}

#colorfulClef{
	position: absolute;
	top: -25px;
	left: 0px;
	height: 270px;
	width: 200px;
	z-index: 20;  /*want this in front*/
}
/* z index set so user clicking on whole notes sees the ClefWithNotes canvas xy axis of location */
#ClefWithNotes{
	position: absolute;
	top: 0 px;
	left: 10px;
	z-index: 10;
}
/* this canvas only serves to fill in the notes with color and sits in the background behind notes */
#NotesFilledIn{
	position: absolute;
	top: 0 px;
	left: 10px;
	z-index: -1;	
}
.wholeNote{
	position: absolute;
	height: 30px;
	width: 30px;
	z-index: 1;
}
#wholeNote1{
	top: var(--HIGHEST_Y);
	left: var(--LOWEST_X);
}
#wholeNote2{
	top: calc(var(--HIGHEST_Y) - var(--DELTA_Y));
	left: calc(var(--LOWEST_X) + var(--DELTA_X));
}
#wholeNote3{
	top: calc(var(--HIGHEST_Y) - 2 * var(--DELTA_Y));
	left: calc(var(--LOWEST_X) + 2 * var(--DELTA_X));
}
#wholeNote4{
	top: calc(var(--HIGHEST_Y) - 3 * var(--DELTA_Y));
	left: calc(var(--LOWEST_X) + 3 * var(--DELTA_X));
}
#wholeNote5{
	top: calc(var(--HIGHEST_Y) - 4 * var(--DELTA_Y));
	left: calc(var(--LOWEST_X) + 4 * var(--DELTA_X));
}
#wholeNote6{
	top: calc(var(--HIGHEST_Y) - 5 * var(--DELTA_Y));
	left: calc(var(--LOWEST_X) + 5 * var(--DELTA_X));
}
#wholeNote7{
	top: calc(var(--HIGHEST_Y) - 6 * var(--DELTA_Y));
	left: calc(var(--LOWEST_X) + 6 * var(--DELTA_X));
}
#wholeNote8{
	top: calc(var(--HIGHEST_Y) - 7 * var(--DELTA_Y));
	left: calc(var(--LOWEST_X) + 7 * var(--DELTA_X));
}
.letterToNote{
	position: absolute;
	font-size: 20px;
	font-weight: bold;
}
#LowCNote{
	top:  calc(var(--HIGHEST_Y) + var(--OFF_TO_SIDE_Y));
	left: calc( var(--LOWEST_X) + var(--OFF_TO_SIDE_X));
}
#DNote{
	top:  calc(var(--HIGHEST_Y) - var(--DELTA_Y) + var(--OFF_TO_SIDE_Y));
	left: calc( var(--LOWEST_X) + var(--DELTA_X) + var(--OFF_TO_SIDE_X));
}
#ENote{
	top:  calc(var(--HIGHEST_Y) - 2 * var(--DELTA_Y) + var(--OFF_TO_SIDE_Y));
	left: calc( var(--LOWEST_X) + 2 * var(--DELTA_X) + var(--OFF_TO_SIDE_X));
}
#FNote{
	top:  calc(var(--HIGHEST_Y) - 3 * var(--DELTA_Y) + var(--OFF_TO_SIDE_Y));
	left: calc( var(--LOWEST_X) + 3 * var(--DELTA_X) + var(--OFF_TO_SIDE_X));
}
#GNote{
	top:  calc(var(--HIGHEST_Y) - 4 * var(--DELTA_Y) + var(--OFF_TO_SIDE_Y));
	left: calc( var(--LOWEST_X) + 4 * var(--DELTA_X) + var(--OFF_TO_SIDE_X));
}
#ANote{
	top:  calc(var(--HIGHEST_Y) - 5 * var(--DELTA_Y) + var(--OFF_TO_SIDE_Y));
	left: calc( var(--LOWEST_X) + 5 * var(--DELTA_X) + var(--OFF_TO_SIDE_X));
}
#BNote{
	top:  calc(var(--HIGHEST_Y) - 6 * var(--DELTA_Y) + var(--OFF_TO_SIDE_Y));
	left: calc( var(--LOWEST_X) + 6 * var(--DELTA_X) + var(--OFF_TO_SIDE_X));
}
#CNote{
	top:  calc(var(--HIGHEST_Y) - 7 * var(--DELTA_Y) + var(--OFF_TO_SIDE_Y));
	left: calc( var(--LOWEST_X) + 7 * var(--DELTA_X) + var(--OFF_TO_SIDE_X));
}
/***********************************************************
  Sinusoid graph of note selected
************************************************************/
#SinusoidGraph{
	position: relative;
	top: calc(290px + var(--HEADER_LOC));
	width: 650px;
}
#PitchGraph{
	position: absolute;
	left: 0px;
	top: 100px;
}
#noteSelect{
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 15px;
	font-weight: bold;
}
#noteSelectVal{
	position: absolute;
	left: 95px;
	top: 0px;
	font-size: 15px;
}
#FreqOfNote{
	position: absolute;
	left: 150px;
	top: 0px;
	font-size: 15px;
	font-weight: bold;
}
#FreqOfNoteVal{
	position: absolute;
	left: 270px; 
	top: 0px;
	font-size: 15px;
}
#noteVolLabel{
	position: absolute;
	left: 500px;
	top: 0px;
	font-size: 15px;
	font-weight: bold;	
}
#noteVol{
	position: absolute;
	left: 500px;
	top: 30px;
	font-size: 15px;
	font-weight: bold;	
}
#noteVolValue{
	position: absolute;
	left: 600px;
	top: 0px;
	font-size: 15px;	
}
#VolOnOff{
	position: absolute;
	width: 80px;
	top: 60px;
	left: 550px;
	z-index: 10;
}
#ResetPage{
	position: absolute;
	width: 50px;
	top: 60px;
	left: 480px;
	z-index: 10;	
}
#notesToPlayLabel{
	position: absolute;
	left: 150px;
	top: 25px;
	font-size: 15px;
	font-weight: bold;
}
#notesToPlay{
	position: absolute;
	left: 150px;
	top: 50px;
	font-size: 12px;
	width: 300px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	display: none;
}
/* Make the tune selector button cycle through pretty colors */
/* if newbie, dont distract user from listening to full tutorial */
#dropdownMenuSong.newbieMode{
	position: absolute;
	left: 0px;
	top: 40px;
	font-size: 15px;
	font-weight: bold;
	color: black;
	background-color: gold;
}
/* if expert, draw attention to songs to play */
#dropdownMenuSong.expertMode{
	position: absolute;
	left: 0px;
	top: 40px;
	font-size: 15px;
	font-weight: bold;
	color: black;
	background-color: grey;
	animation-name: tuneButtonLive;
	animation-duration: 4s;
	animation-delay: 8s;  /* delay till after the initial instructions have move off page*/
	animation-iteration-count: infinite;
}
@keyframes tuneButtonLive {
	0%		{background-color: red;}
	15%		{background-color: orange;}
	30% 	{background-color: gold;}
	45%		{background-color: chartreuse;}
	60%		{background-color: cyan;}
	75%		{background-color: dodgerblue;}
	90%		{background-color: mediumorchid;}
	100%	{background-color: red;}
}
/*******************************************************/
/* image indicator that will start an audio introduction of this math section */
/*******************************************************/

/*****************Auto demo controls on****************************/
#startAutoDemo{
	visibility: visible;
}
/*********************Tutorial demo type help******************/
/* canvas, needs to sit exactly on ClefWithNotes */
#funTutorial_MSIntro {
	 position: absolute;
	 top: 0px;
	 left: 10px;
	 z-index: -1;  /* normal operation, this should be noninterfering */
}
	
#MusicIntroBlock {
	/* define space for rest of page makes footer float to bottom */
	height: 750px;
}	