/*
 * ============================================================================
 * COMPONENT: Client side CSS style sheet
 * FILE:      MusicSineSummary.css
 * ============================================================================
 * 
 * DESCRIPTION:
 * Handle layout of html page with same base filename 
 * (i.e. test1.css styles for test1.html)
 * 
 * FIRST PRODUCTION VERSION: 2026-06-07
 * AUTHOR:     C. DeMeyer (with Gemini AI assist)
 * ============================================================================
*/

#MusicToneSummary {
	width: 100%;             /* Fills the container width */
    height: 100%;            /* Fills the container height */
    border: none;            /* Removes default iframe border */
    display: block;          /* Prevents bottom alignment gaps */
}

#MusicVideoSummaryBlock{
	height: 480px;
}
