/********************************
Style sheet (.css) for the musical summary page
*********************************/
/* need to handle kloodge of bootstrap/jquery/django library on modal windows, can only start up on a click but I
want to start up on page load if robot test not passed yet */
#kloodgeToGetBotModal{
	visibility: hidden;
};
#startAutoDemo{
	display: none;
};
#autoDemoCtls {
	display: none;
}
#MusicToneSummary {
	width: 100%;             /* Fills the container width */
    height: 100%;            /* Fills the container height */
    border: none;            /* Removes default iframe border */
    display: block;          /* Prevents bottom alignment gaps */
}
#MusicVideoSummaryBlock {
    text-align: center; /* Centers the text headers */
    width: 100%;
}

#MusicVideoSummaryBlock h1, 
#MusicVideoSummaryBlock h2 {
    margin-bottom: 10px; /* Adds a little breathing room */
}
#MusicVideoSummaryBlock{
	height: 480px;
}
