/***********************
This is the style sheet for the StaticTrig.html page
************************/
/* create global var for this html */
:root{
	--LABEL_Y_VAL: 30px;
	--VALUE_Y_1: 60px;
	--VALUE_Y_2: 90px;
	--VALUE_Y_3: 120px;
	--VALUE_Y_4: 160px;
	--LABEL_X_VAL1: 50px;
	--LABEL_X_VAL2: 170px;
	--LABEL_X_VAL3: 350px;
}


/***************************/
/* put a label up and an expln/to do selector input box */
#headerAndCtl_ST {
	position: relative;
	top: 0px;
	left: 150px;
	font-weight: bold;
	font-size: 32px;
} 

/************Params that define circle***************/
/* arrange all the parms that feed into or get info out of circle */
#CircleValues {
	position: relative;
	top: 40px;
	left: 0px;
}
#ampCircLabel {
	position: absolute;
	left: var(--LABEL_X_VAL1);
	top: var(--LABEL_Y_VAL);
}
/* because the canvas with unit circle and two plots takes up so much space and overlaps...*/
/* need to ensure select box for amplitude is on top (max z) so users can input values, else up/down arrows and input not active, just visible*/
#ampCircLocation {
	position: absolute;
	left: var(--LABEL_X_VAL1);
	top: var(--VALUE_Y_1);
	z-index: 9;
}
#unitCircNotify{
	position: absolute;
	left: var(--LABEL_X_VAL1);
	top: 85px;
}
#xyValueLabel {
	position: absolute;
	left: var(--LABEL_X_VAL2);
	top: var(--LABEL_Y_VAL);
}
#xyEqtn_x {
	position: absolute;
	left: var(--LABEL_X_VAL2);
	top: var(--VALUE_Y_1);
	color: blue;
}
#xyEqtn_y {
	position: absolute;
	left: calc(var(--LABEL_X_VAL2) + 65px);
	top: var(--VALUE_Y_1);
	color: red;
}
#xyFilledIn {
	position: absolute;
	left: var(--LABEL_X_VAL2);
	top: var(--VALUE_Y_2);
}
/* because the canvas with unit circle and two plots takes up so much space and overlaps...*/
/* need high z index so the tooltip comes to the top and is visible on hover */
#xyExactValue {
	position: absolute;
	left: var(--LABEL_X_VAL2);
	top:  var(--VALUE_Y_3);
	z-index: 9;
}
/* because the canvas with unit circle and two plots takes up so much space and overlaps...*/
/* need high z index so the tooltip comes to the top and is visible on hover */
#xyValueDecimal {
	position: absolute;
	left: var(--LABEL_X_VAL2);
	top:  var(--VALUE_Y_4);
	z-index: 9;
}
#thetaLabel {
	position: absolute;
	left: var(--LABEL_X_VAL3);
	top: var(--LABEL_Y_VAL);
}
#theta {
	position: absolute;
	left: var(--LABEL_X_VAL3);
	top: var(--VALUE_Y_1);

}

/************Holds the circle drawings and help and animation***************/
/* create canvas for expandable unit circle, position = relative lets the footer float to bottom for all parent elements.
We use negative value for top since we want some overlap*/
#Canvas_STrig{
	 position:relative; 
	 top: 0px;  /*want to invade some space for header and advanced topics link */
	 left: 0px;
}
#AmpSinCosCircle{
	 position:absolute; 
	 top: 0px; 
	 left: 0px
}
/* decorate the quadrant identifiers for plot */
.quadIdentifiers {
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	color: green;
	top: 220px; 
}
#quad1_ID{
	position: absolute;
	left: 350px;
}
#quad2_ID{
	position: absolute;
	left: 50px;
}
#quad3_ID{
	position: absolute;
	left: 50px;
	top: 300px;
}
#quad4_ID{
	position: absolute;
	left: 350px;
	top: 300px;
}
/*************Dynamic Help**************/
#FirstHelp_ST.newbieMode {
	display: none;
}
#FirstHelp_ST.expertMode {
	position: absolute;
	width: 200px;
	outline: 1px solid black;
	padding: 10px;
	background-color: pink;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	left: 110px;
	top: 360px;   
	z-index: 10;
	visibility: visible;
	animation-name: showBeginnerBlinkyHelp;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	/* start out with nothing then draw attention to it*/
	animation-delay: 1s;
}

/* grow the box and move so lettering and position doesn't change  */
@keyframes showBeginnerBlinkyHelp {
	0%		{outline: 1px solid black;}
	50%		{outline: 10px solid black;} 
	100%	{outline: 1px solid black;}
}

/*********************Tutorial demo type help******************/
#startAutoDemo{
	visibility: visible;
}
#funTutorial_ST{
	 position: absolute;
	 top: 0px;   /* match AmpSinCosCircle canvas */
	 left: 0px;
	 margin-left: 0 px;
	 padding-left: 0 px;
	 margin-right: 0 px;
	 padding-right: 0 px;
	 z-index: -1;
}
/**********************define space for footer to float at bottom***************/
#StaticTrigBlock {
	/* define space for rest of page makes footer float to bottom */
	height: 520px;
}	