/***********************
This is the style sheet for ToneTrig.html
************************/
/* create global var for this html */
:root{
	--LEFT_EDGE_PLOT: 54px;
	--TOP_EDGE_PLOT: 64px;
	--WIDTH_466HZ: 159px;
	--HEIGHT_TONE_PLOT: 140px;
}

#headerAndCtl_TT {
	position: relative;
}
#musicalActivity{
	text-align: left;
	top: 0px;
}
/* do NOT put a space between number and word "px" */
#menuExplnTones {
	position: relative;
	top: 40px;
	left: 0px;
	height: 700px;
}
/*****************************************************************/
/* turn off the indicator (botCheckTestNeeded) that bot check is needed or not (modal window comes up with test or not).  
   The server sends a cookie to client which
   cannot be modified, which holds the bot state for the server of this particular client.  If the client asks for 
   something and the bot test has not
   passed, the request will be rejected. */
   /* display block overrides the none so need to force with important */
#botCheckTestNeeded{
	display: none !important;
}
/*****************************************************************/
/* This handles the header and "play music mp3 again" button on upper left shown as Plan Note button
 that comes and goes as user loads music notes*/
#allowNotePlay {
	position: absolute;
	display: none;
	left: 0px;
	top: 20px;
}
/* This allows user to choose text box to be either a Do list or explanation */
#ToDo_or_expln_TT {
	position: relative;
	left: 120px;
	top: 20px;
	resize: none;
}
/* this is a header of current activity*/
#musicalActivity {
	position: absolute;
	border: 0px;
	resize: none;
	left: 300px;
	width: 700px;
	font-weight: bold;
	font-size: 32px;
	}
/*****************************************************************/
/* This is the three side by side controls 1.  treble clef that picks instrument/note 2.  explanation of current activity 3.  tone param changes */
#InstrumentToneMenu {
		  position: absolute;
		  left: 0px;
          width:50px;
          height:100px;
          background-color:white; 
          padding: 0px;
}
/* item 2, explanation of current activity in read only box */ 
#ExplnBox_TT {
		  position: absolute;
          left: 100px;
          background-color:white; 
          margin-left:20px;	
          margin-right:20px;	
}
/* item 3, tone controls, freq, amplitude, phase*/
#toneChanges {
	    position: absolute;
	    left: 500px;
		display: inline-block; 
		border: 1px solid black;"
		float: right;
}

/*****************************************************************/
/* arrange the expansion lines between the two graphs for max understandability */
#overlapExpansionLines{
    position:relative;
    top: 100px;
    height: 250px;
    width: 800px;
}
#sinePlotLongWrapper{
	position: absolute;
	height: 250px;
	width:800px;
}

/* checkerbox to show periodicity**/
.Period_Tone {
	position: absolute;
	top: var(--TOP_EDGE_PLOT);
	width: var(--WIDTH_466HZ);
	height: var(--HEIGHT_TONE_PLOT);
	border-style: solid;
	border-width: 1px;
}
.First_Period{
	left: var(--LEFT_EDGE_PLOT);
	border-color: red;
	visibility: hidden;
}
.Second_Period{
	left: calc(var(--LEFT_EDGE_PLOT) + var(--WIDTH_466HZ));
	border-color: blue;	
	visibility: hidden;
}
.Third_Period{
	left: calc(var(--LEFT_EDGE_PLOT) + 2 * var(--WIDTH_466HZ));
	border-color: red;
	visibility: hidden;
}
.Fourth_Period{
	left: calc(var(--LEFT_EDGE_PLOT) + 3 * var(--WIDTH_466HZ));
	border-color: blue;
	visibility: hidden;
}
#Period_Text1{
	position: absolute;
	left: calc(var(--LEFT_EDGE_PLOT) + 50px);
	top: calc(var(--TOP_EDGE_PLOT) + 160px);
	color: red;
}
#Period_Text2{
	position: absolute;
	left: calc(var(--LEFT_EDGE_PLOT) + var(--WIDTH_466HZ) + 50px);
	top: calc(var(--TOP_EDGE_PLOT) + 190px);
	color: blue;
}
/* we allow the time expand lines to write on this canvas */
#sine_plotsLong{
    position:absolute; 
    top:0px; 
    left:0px;
    z-index: -1;
}
#timeExpand{
	 position:absolute; 
	 top:230px; 
	 left: 0px;
	 height: 110px;
	 width: 800px;
}
#sinePlotsShortWrapper{
	position: relative;
	top: 155px;
	height: 200px;
	width: 800px;
}
#sine_plotsShort{
	position: absolute;
}

/*****************************************************************/
/* credits to float at the bottom */
#artistCredits{
	position: relative;
	top: 550px;
}
#image_credit_chromTrebClef{
	position: absolute;
}