
/***********************
This is the style sheet for ToneTrig.html
************************/
/* create global var for this html */
:root{
	--UPPER_HEADER_TOP_LOC: -15px;
	--UPPER_HEADER_LEFT_LOC: 130px;
}

/*****************************************************************/
/* this is a header of current activity*/
#musicalActivity {
	position: relative;
	border: 0px;
	resize: none;
	left: var(--UPPER_HEADER_LEFT_LOC);
	width: 700px;
	top: var(--UPPER_HEADER_TOP_LOC);
	font-weight: bold;
	font-size: 32px;
	}
/*****************************************************************/
/* This is the controls for tone generation */
/* do NOT put a space between number and word "px" */
#menuExplnTones {
	position: relative;
	top: var(--UPPER_HEADER_TOP_LOC);
	left: 0px;
	height: 700px;
}
/* item 3, tone controls, freq, amplitude, phase*/
#toneChanges {
    position: absolute;
    left: var(--UPPER_HEADER_LEFT_LOC);
	display: inline-block; 
	border: 1px solid black;
}
/* turn on/off tone */
#toneStartButton {
	height: 30px;
	width: 30px;
}

/*****************************************************************/
/* arrange location of upper plot */
#wrap_sin_plotsLong {
	position: relative; 
	height:250px; 
	width:800px; 
	top:120px;
}
/* arrange the expansion lines between the two graphs for max understandability */
/* See https://www.chartjs.org/docs/latest/configuration/responsive.html#important-note for */
/* how to do sizing on canvases that contain chart.js,  timeExpand does not have chart.js */
#timeExpand{
	 position: relative; 
	 top: 75px;
	 height:100px; 
	 width:800px;
}
/* arrange size and location of lower expanded plot */
#wrap_sin_plotsShort{
	position: relative; 
	height:200px; 
	width:800px; 
	top:30px;
	
}

/*****************************************************************/
/* used to define size of page so footnotes float to right spot */
#ToneTrigBlock{
	height: 530px;
}
